<section class="highlight-games-section">
    <div class="container">
        <div class="row flex-col gap-4 highlight-games">

            <div class="row gap-2 pr-4 pl-4 md-pr-10 md-pl-10 highlight-games-content">

                <div class="row highlight-games-content-wrapper">
                    <div class="title-primary">Highlight Games</div>

                    <div class="row navbar-browse-all">
                        <div class="separator"></div>

                        <div class="browse-all-button">
                            <button>Browse all</button>
                        </div>
                    </div>

                </div>

                <div class="row gap-3 slider-nav-button">
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14.625 6.22a1 1 0 0 1 .156 1.405L11.28 12l3.5 4.375a1 1 0 0 1-1.562 1.25l-4-5a1 1 0 0 1 0-1.25l4-5a1 1 0 0 1 1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.375 6.22a1 1 0 0 0-.156 1.405L12.72 12l-3.5 4.375a1 1 0 0 0 1.562 1.25l4-5a1 1 0 0 0 0-1.25l-4-5a1 1 0 0 0-1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>

                </div>

            </div>

            <div class="md-pr-10 md-pl-10 list-highlight-games">
                <ul class="gap-6 list-highlight-games-wrapper">

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1710172956-banner_wf.png"
                                    alt="banner-wf">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Zillion Whales</div>

                                <div class="row gap-2 platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M2 5.861a1 1 0 0 1 .852-.989l6-.9a1 1 0 0 1 1.148.99v5.194a1 1 0 0 1-.99 1l-6 .063a1 1 0 0 1-1.01-1V5.86ZM3.01 12.781a1 1 0 0 0-1.01 1v4.358a1 1 0 0 0 .852.989l6 .9a1 1 0 0 0 1.148-.99v-5.194a1 1 0 0 0-.99-1l-6-.063ZM12.51 12.88a1 1 0 0 0-1.01 1v5.684a1 1 0 0 0 .852.989l8.5 1.275a1 1 0 0 0 1.148-.99v-6.87a1 1 0 0 0-.99-1l-8.5-.088ZM21.01 11.031a1 1 0 0 0 .99-1v-6.87a1 1 0 0 0-1.148-.989l-8.5 1.275a1 1 0 0 0-.852.99v5.683a1 1 0 0 0 1.01 1l8.5-.089Z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20"
                                        viewBox="0 0 21 20" fill="currentColor" size="20">
                                        <path
                                            d="M4.05096 1.9385C4.69884 1.58123 5.46442 1.5729 6.11647 1.93329L14.1952 6.39242L11.6443 8.94332L4.05096 1.9385Z">
                                        </path>
                                        <path
                                            d="M3 3.67278C3 3.30509 3.10624 2.95824 3.29165 2.65513L10.9079 9.68078L3.27186 17.3168C3.09687 17.02 3 16.6804 3 16.3242V3.67278Z">
                                        </path>
                                        <path
                                            d="M17.5773 8.25899L15.1441 6.91635L12.4099 9.64953L15.7608 12.74L17.5784 11.7369C18.2325 11.3744 18.6241 10.7245 18.6241 9.99743C18.6231 9.27039 18.2325 8.62042 17.5773 8.25899Z">
                                        </path>
                                        <path
                                            d="M4.01661 18.0438L11.6735 10.387L14.8004 13.2712L6.11649 18.0636C5.79046 18.2438 5.43423 18.3334 5.08009 18.3334C4.71344 18.3334 4.34888 18.2334 4.01661 18.0438Z">
                                        </path>
                                    </svg>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg" size="20">
                                        <path
                                            d="M11.6329 14.1831C12.041 13.7925 12.3999 13.1236 12.3999 12C12.3999 10.8764 12.041 10.2075 11.6329 9.81689C11.2084 9.41051 10.6204 9.2 9.99993 9.2C9.37942 9.2 8.79151 9.41051 8.36695 9.81689C7.95883 10.2075 7.59993 10.8764 7.59993 12C7.59993 13.1236 7.95883 13.7925 8.36695 14.1831C8.79151 14.5895 9.37942 14.8 9.99993 14.8C10.6204 14.8 11.2084 14.5895 11.6329 14.1831Z">
                                        </path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM15.717 8.37576C16.0938 8.13075 16.5365 8 16.9893 8H17.2162C18.4461 8 19.5181 8.81648 19.8164 9.98033L18.666 10.2609C18.4997 9.61194 17.902 9.15669 17.2162 9.15669H16.9893C16.7706 9.15669 16.5568 9.21984 16.3748 9.33819L16.295 9.39011C16.0366 9.55809 15.8815 9.8409 15.8815 10.1437C15.8815 10.5522 16.1617 10.9101 16.5657 11.0176L18.3089 11.4813C19.445 11.7836 20.1621 12.8756 19.9685 14.0087C19.8478 14.715 19.3879 15.3224 18.7313 15.6427L18.5618 15.7254C18.0313 15.9841 17.4276 16.0629 16.8461 15.9495L16.6485 15.9109C15.8022 15.7458 15.0578 15.2595 14.579 14.559L14.4 14.2971L15.3866 13.6554L15.5657 13.9174C15.87 14.3627 16.3431 14.6718 16.8811 14.7767L17.0787 14.8153C17.4016 14.8783 17.7369 14.8345 18.0315 14.6908L18.201 14.6081C18.5183 14.4533 18.7405 14.1598 18.7988 13.8185C18.8924 13.271 18.5459 12.7433 17.9969 12.5973L16.2537 12.1335C15.3338 11.8888 14.6957 11.0738 14.6957 10.1437C14.6957 9.45416 15.049 8.81019 15.6372 8.42768L15.717 8.37576ZM4 16.0001V10.4999H5.2V16.0001H4ZM4.6 8C4.26863 8 4 8.26863 4 8.6C4 8.93137 4.26863 9.2 4.6 9.2C4.93137 9.2 5.2 8.93137 5.2 8.6C5.2 8.26863 4.93137 8 4.6 8ZM9.99993 16C11.7672 16 13.5999 14.8 13.5999 12C13.5999 9.2 11.7672 8 9.99993 8C8.23262 8 6.39993 9.2 6.39993 12C6.39993 14.8 8.23262 16 9.99993 16Z">
                                        </path>
                                    </svg>
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M16.234 0h.156c.126 1.551-.466 2.71-1.186 3.55-.706.834-1.673 1.643-3.237 1.52-.105-1.53.489-2.603 1.207-3.44.667-.78 1.889-1.475 3.06-1.63ZM20.968 16.149v.043c-.44 1.331-1.066 2.472-1.831 3.531-.699.961-1.555 2.255-3.083 2.255-1.32 0-2.198-.85-3.551-.873-1.432-.023-2.22.71-3.528.895h-.447c-.96-.139-1.736-.9-2.302-1.586-1.666-2.027-2.954-4.645-3.193-7.995v-.985c.101-2.397 1.266-4.347 2.815-5.292.817-.502 1.94-.93 3.192-.739.536.083 1.083.267 1.564.448.455.175 1.024.485 1.563.469.365-.01.728-.2 1.096-.335 1.078-.39 2.135-.836 3.528-.626 1.674.253 2.863.997 3.597 2.144-1.416.902-2.536 2.26-2.345 4.58.17 2.107 1.395 3.34 2.925 4.066Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>


                                <div class="title-games">Wild Forest</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Early access</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Strategy</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1709178744-gamethumbnail_564x376.jpg"
                                    alt="banner-a">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Foonie Magus</div>

                                <div class="platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M2 5.861a1 1 0 0 1 .852-.989l6-.9a1 1 0 0 1 1.148.99v5.194a1 1 0 0 1-.99 1l-6 .063a1 1 0 0 1-1.01-1V5.86ZM3.01 12.781a1 1 0 0 0-1.01 1v4.358a1 1 0 0 0 .852.989l6 .9a1 1 0 0 0 1.148-.99v-5.194a1 1 0 0 0-.99-1l-6-.063ZM12.51 12.88a1 1 0 0 0-1.01 1v5.684a1 1 0 0 0 .852.989l8.5 1.275a1 1 0 0 0 1.148-.99v-6.87a1 1 0 0 0-.99-1l-8.5-.088ZM21.01 11.031a1 1 0 0 0 .99-1v-6.87a1 1 0 0 0-1.148-.989l-8.5 1.275a1 1 0 0 0-.852.99v5.683a1 1 0 0 0 1.01 1l8.5-.089Z"
                                            fill="currentColor"></path>
                                    </svg>

                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M16.234 0h.156c.126 1.551-.466 2.71-1.186 3.55-.706.834-1.673 1.643-3.237 1.52-.105-1.53.489-2.603 1.207-3.44.667-.78 1.889-1.475 3.06-1.63ZM20.968 16.149v.043c-.44 1.331-1.066 2.472-1.831 3.531-.699.961-1.555 2.255-3.083 2.255-1.32 0-2.198-.85-3.551-.873-1.432-.023-2.22.71-3.528.895h-.447c-.96-.139-1.736-.9-2.302-1.586-1.666-2.027-2.954-4.645-3.193-7.995v-.985c.101-2.397 1.266-4.347 2.815-5.292.817-.502 1.94-.93 3.192-.739.536.083 1.083.267 1.564.448.455.175 1.024.485 1.563.469.365-.01.728-.2 1.096-.335 1.078-.39 2.135-.836 3.528-.626 1.674.253 2.863.997 3.597 2.144-1.416.902-2.536 2.26-2.345 4.58.17 2.107 1.395 3.34 2.925 4.066Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>


                                <div class="title-games">Apeiron</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Strategy</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Adventure</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1706002032-game_thumbnail.png"
                                    alt="aih">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Sky Mavis</div>

                                <div class="platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M2 5.861a1 1 0 0 1 .852-.989l6-.9a1 1 0 0 1 1.148.99v5.194a1 1 0 0 1-.99 1l-6 .063a1 1 0 0 1-1.01-1V5.86ZM3.01 12.781a1 1 0 0 0-1.01 1v4.358a1 1 0 0 0 .852.989l6 .9a1 1 0 0 0 1.148-.99v-5.194a1 1 0 0 0-.99-1l-6-.063ZM12.51 12.88a1 1 0 0 0-1.01 1v5.684a1 1 0 0 0 .852.989l8.5 1.275a1 1 0 0 0 1.148-.99v-6.87a1 1 0 0 0-.99-1l-8.5-.088ZM21.01 11.031a1 1 0 0 0 .99-1v-6.87a1 1 0 0 0-1.148-.989l-8.5 1.275a1 1 0 0 0-.852.99v5.683a1 1 0 0 0 1.01 1l8.5-.089Z"
                                            fill="currentColor"></path>
                                    </svg>

                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M16.234 0h.156c.126 1.551-.466 2.71-1.186 3.55-.706.834-1.673 1.643-3.237 1.52-.105-1.53.489-2.603 1.207-3.44.667-.78 1.889-1.475 3.06-1.63ZM20.968 16.149v.043c-.44 1.331-1.066 2.472-1.831 3.531-.699.961-1.555 2.255-3.083 2.255-1.32 0-2.198-.85-3.551-.873-1.432-.023-2.22.71-3.528.895h-.447c-.96-.139-1.736-.9-2.302-1.586-1.666-2.027-2.954-4.645-3.193-7.995v-.985c.101-2.397 1.266-4.347 2.815-5.292.817-.502 1.94-.93 3.192-.739.536.083 1.083.267 1.564.448.455.175 1.024.485 1.563.469.365-.01.728-.2 1.096-.335 1.078-.39 2.135-.836 3.528-.626 1.674.253 2.863.997 3.597 2.144-1.416.902-2.536 2.26-2.345 4.58.17 2.107 1.395 3.34 2.925 4.066Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>


                                <div class="title-games">Axie Infinity: Homeland</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Strategy</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Adventure</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">+ 1</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1715055788-gamethumbnail.png"
                                    alt="banner-kos">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Tribes Studio</div>

                                <div class="platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M2 5.861a1 1 0 0 1 .852-.989l6-.9a1 1 0 0 1 1.148.99v5.194a1 1 0 0 1-.99 1l-6 .063a1 1 0 0 1-1.01-1V5.86ZM3.01 12.781a1 1 0 0 0-1.01 1v4.358a1 1 0 0 0 .852.989l6 .9a1 1 0 0 0 1.148-.99v-5.194a1 1 0 0 0-.99-1l-6-.063ZM12.51 12.88a1 1 0 0 0-1.01 1v5.684a1 1 0 0 0 .852.989l8.5 1.275a1 1 0 0 0 1.148-.99v-6.87a1 1 0 0 0-.99-1l-8.5-.088ZM21.01 11.031a1 1 0 0 0 .99-1v-6.87a1 1 0 0 0-1.148-.989l-8.5 1.275a1 1 0 0 0-.852.99v5.683a1 1 0 0 0 1.01 1l8.5-.089Z"
                                            fill="currentColor"></path>
                                    </svg>

                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M16.234 0h.156c.126 1.551-.466 2.71-1.186 3.55-.706.834-1.673 1.643-3.237 1.52-.105-1.53.489-2.603 1.207-3.44.667-.78 1.889-1.475 3.06-1.63ZM20.968 16.149v.043c-.44 1.331-1.066 2.472-1.831 3.531-.699.961-1.555 2.255-3.083 2.255-1.32 0-2.198-.85-3.551-.873-1.432-.023-2.22.71-3.528.895h-.447c-.96-.139-1.736-.9-2.302-1.586-1.666-2.027-2.954-4.645-3.193-7.995v-.985c.101-2.397 1.266-4.347 2.815-5.292.817-.502 1.94-.93 3.192-.739.536.083 1.083.267 1.564.448.455.175 1.024.485 1.563.469.365-.01.728-.2 1.096-.335 1.078-.39 2.135-.836 3.528-.626 1.674.253 2.863.997 3.597 2.144-1.416.902-2.536 2.26-2.345 4.58.17 2.107 1.395 3.34 2.925 4.066Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>


                                <div class="title-games">Tribesters - Keeper of Secrets</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Early access</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Adventure</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-thumbnail.png"
                                    alt="banner-ax">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Sky Mavis</div>

                                <div class="platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M2 5.861a1 1 0 0 1 .852-.989l6-.9a1 1 0 0 1 1.148.99v5.194a1 1 0 0 1-.99 1l-6 .063a1 1 0 0 1-1.01-1V5.86ZM3.01 12.781a1 1 0 0 0-1.01 1v4.358a1 1 0 0 0 .852.989l6 .9a1 1 0 0 0 1.148-.99v-5.194a1 1 0 0 0-.99-1l-6-.063ZM12.51 12.88a1 1 0 0 0-1.01 1v5.684a1 1 0 0 0 .852.989l8.5 1.275a1 1 0 0 0 1.148-.99v-6.87a1 1 0 0 0-.99-1l-8.5-.088ZM21.01 11.031a1 1 0 0 0 .99-1v-6.87a1 1 0 0 0-1.148-.989l-8.5 1.275a1 1 0 0 0-.852.99v5.683a1 1 0 0 0 1.01 1l8.5-.089Z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="M16.234 0h.156c.126 1.551-.466 2.71-1.186 3.55-.706.834-1.673 1.643-3.237 1.52-.105-1.53.489-2.603 1.207-3.44.667-.78 1.889-1.475 3.06-1.63ZM20.968 16.149v.043c-.44 1.331-1.066 2.472-1.831 3.531-.699.961-1.555 2.255-3.083 2.255-1.32 0-2.198-.85-3.551-.873-1.432-.023-2.22.71-3.528.895h-.447c-.96-.139-1.736-.9-2.302-1.586-1.666-2.027-2.954-4.645-3.193-7.995v-.985c.101-2.397 1.266-4.347 2.815-5.292.817-.502 1.94-.93 3.192-.739.536.083 1.083.267 1.564.448.455.175 1.024.485 1.563.469.365-.01.728-.2 1.096-.335 1.078-.39 2.135-.836 3.528-.626 1.674.253 2.863.997 3.597 2.144-1.416.902-2.536 2.26-2.345 4.58.17 2.107 1.395 3.34 2.925 4.066Z"
                                            fill="currentColor"></path>
                                    </svg>


                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg" size="20">
                                        <path
                                            d="M11.6329 14.1831C12.041 13.7925 12.3999 13.1236 12.3999 12C12.3999 10.8764 12.041 10.2075 11.6329 9.81689C11.2084 9.41051 10.6204 9.2 9.99993 9.2C9.37942 9.2 8.79151 9.41051 8.36695 9.81689C7.95883 10.2075 7.59993 10.8764 7.59993 12C7.59993 13.1236 7.95883 13.7925 8.36695 14.1831C8.79151 14.5895 9.37942 14.8 9.99993 14.8C10.6204 14.8 11.2084 14.5895 11.6329 14.1831Z">
                                        </path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM15.717 8.37576C16.0938 8.13075 16.5365 8 16.9893 8H17.2162C18.4461 8 19.5181 8.81648 19.8164 9.98033L18.666 10.2609C18.4997 9.61194 17.902 9.15669 17.2162 9.15669H16.9893C16.7706 9.15669 16.5568 9.21984 16.3748 9.33819L16.295 9.39011C16.0366 9.55809 15.8815 9.8409 15.8815 10.1437C15.8815 10.5522 16.1617 10.9101 16.5657 11.0176L18.3089 11.4813C19.445 11.7836 20.1621 12.8756 19.9685 14.0087C19.8478 14.715 19.3879 15.3224 18.7313 15.6427L18.5618 15.7254C18.0313 15.9841 17.4276 16.0629 16.8461 15.9495L16.6485 15.9109C15.8022 15.7458 15.0578 15.2595 14.579 14.559L14.4 14.2971L15.3866 13.6554L15.5657 13.9174C15.87 14.3627 16.3431 14.6718 16.8811 14.7767L17.0787 14.8153C17.4016 14.8783 17.7369 14.8345 18.0315 14.6908L18.201 14.6081C18.5183 14.4533 18.7405 14.1598 18.7988 13.8185C18.8924 13.271 18.5459 12.7433 17.9969 12.5973L16.2537 12.1335C15.3338 11.8888 14.6957 11.0738 14.6957 10.1437C14.6957 9.45416 15.049 8.81019 15.6372 8.42768L15.717 8.37576ZM4 16.0001V10.4999H5.2V16.0001H4ZM4.6 8C4.26863 8 4 8.26863 4 8.6C4 8.93137 4.26863 9.2 4.6 9.2C4.93137 9.2 5.2 8.93137 5.2 8.6C5.2 8.26863 4.93137 8 4.6 8ZM9.99993 16C11.7672 16 13.5999 14.8 13.5999 12C13.5999 9.2 11.7672 8 9.99993 8C8.23262 8 6.39993 9.2 6.39993 12C6.39993 14.8 8.23262 16 9.99993 16Z">
                                        </path>
                                    </svg>

                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="m14.975 3.019.96-1.732a.192.192 0 0 0-.075-.263.193.193 0 0 0-.263.076l-.97 1.75a6.541 6.541 0 0 0-5.253 0l-.97-1.75a.193.193 0 0 0-.34.187l.96 1.732a5.546 5.546 0 0 0-3.092 4.876h12.136a5.546 5.546 0 0 0-3.093-4.876ZM9.2 5.674a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013Zm5.602 0a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013ZM5.93 17.171A1.467 1.467 0 0 0 7.4 18.64h.973v3a1.36 1.36 0 1 0 2.721 0v-3h1.814v3a1.361 1.361 0 1 0 2.72 0v-3h.975a1.467 1.467 0 0 0 1.467-1.468V8.375H5.93v8.796Zm-1.867-9.03a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Zm15.872 0a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20"
                                        viewBox="0 0 21 20" fill="currentColor" size="20">
                                        <path
                                            d="M4.05096 1.9385C4.69884 1.58123 5.46442 1.5729 6.11647 1.93329L14.1952 6.39242L11.6443 8.94332L4.05096 1.9385Z">
                                        </path>
                                        <path
                                            d="M3 3.67278C3 3.30509 3.10624 2.95824 3.29165 2.65513L10.9079 9.68078L3.27186 17.3168C3.09687 17.02 3 16.6804 3 16.3242V3.67278Z">
                                        </path>
                                        <path
                                            d="M17.5773 8.25899L15.1441 6.91635L12.4099 9.64953L15.7608 12.74L17.5784 11.7369C18.2325 11.3744 18.6241 10.7245 18.6241 9.99743C18.6231 9.27039 18.2325 8.62042 17.5773 8.25899Z">
                                        </path>
                                        <path
                                            d="M4.01661 18.0438L11.6735 10.387L14.8004 13.2712L6.11649 18.0636C5.79046 18.2438 5.43423 18.3334 5.08009 18.3334C4.71344 18.3334 4.34888 18.2334 4.01661 18.0438Z">
                                        </path>
                                    </svg>

                                </div>


                                <div class="title-games">Axie Infinity: Origins</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Turn-based</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Strategy</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">+ 1</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="game-card">
                        <div class="game-card-wrapper">

                            <div class="banner-games">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1708488768-thumbnail_564x376.png"
                                    alt="banner-ac">
                            </div>

                            <div class="caption-games">

                                <div class="publisher-highlight-games">Bali games</div>

                                <div class="platform-highlight-games">
                                    <svg viewBox="0 0 24 24" width="20" height="20"
                                        style="fill: currentcolor;">
                                        <path
                                            d="m14.975 3.019.96-1.732a.192.192 0 0 0-.075-.263.193.193 0 0 0-.263.076l-.97 1.75a6.541 6.541 0 0 0-5.253 0l-.97-1.75a.193.193 0 0 0-.34.187l.96 1.732a5.546 5.546 0 0 0-3.092 4.876h12.136a5.546 5.546 0 0 0-3.093-4.876ZM9.2 5.674a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013Zm5.602 0a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013ZM5.93 17.171A1.467 1.467 0 0 0 7.4 18.64h.973v3a1.36 1.36 0 1 0 2.721 0v-3h1.814v3a1.361 1.361 0 1 0 2.72 0v-3h.975a1.467 1.467 0 0 0 1.467-1.468V8.375H5.93v8.796Zm-1.867-9.03a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Zm15.872 0a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>


                                <div class="title-games">Axie Champions</div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">RPG</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Puzzle</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">+ 1</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>