<main>
    <div class="container row flex-col ">

        <!-- fixed -->

        <div class="fixed-game-info row flex-col gap-4 xl-pt-6 xl-pb-4">

            <div class="row gap-2">
                <svg viewBox="0 0 24 24" width="20" height="20" style="fill: currentcolor;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.293 11.293a1 1 0 0 0 0 1.414l4 4a1 1 0 0 0 1.414-1.414L8.414 13H18a1 1 0 1 0 0-2H8.414l2.293-2.293a1 1 0 0 0-1.414-1.414l-4 4Z"
                        fill="currentColor"></path>
                </svg>
                <span class="navigate-back-fixed">Back to Browse Games </span>
            </div>

            <div class="row floating-game-title xl-pb-4">
                <div class="product-content-fixed-wrapper row gap-4 ">

                    <div class="product-logo-fixed">
                        <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-game.png"
                            alt="logo-origins">
                    </div>

                    <span class="product-name-fixed row">Axie Infinity: Origins</span>
                </div>

                <div class="row game-controls gap-4">
                    <div class="game-controls-button">
                        <button>
                            <svg viewBox="0 0 24 24" width="16" height="16" style="fill: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 5.5a3.5 3.5 0 0 1-6.225 2.196.752.752 0 0 1-.07.04l-6.738 3.37a.746.746 0 0 1-.074.031 3.508 3.508 0 0 1 0 1.726c.025.009.05.02.074.032l6.737 3.369a.734.734 0 0 1 .07.04 3.5 3.5 0 1 1-.668 1.334.73.73 0 0 1-.073-.033l-6.737-3.369a.74.74 0 0 1-.07-.04 3.5 3.5 0 1 1 0-4.393.76.76 0 0 1 .07-.04l6.737-3.368a.769.769 0 0 1 .074-.032A3.5 3.5 0 1 1 22 5.5Z" fill="currentColor"></path></svg>
                        </button>
                    </div>

                    <div class="game-controls-button">
                        <button>
                            <svg viewBox="0 0 24 24" width="16" height="16" style="fill: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H8Zm3 16.25a.75.75 0 0 0 0 1.5h2a.75.75 0 0 0 0-1.5h-2Z" fill="currentColor"></path></svg>
                        </button>
                    </div>

                    <div class="game-controls-button">
                        <button>
                            Install
                        </button>
                    </div>
                </div>
            </div>


        </div>


        <!-- product -->
        <div class=" product-detail row flex-col gap-6">

            <div class="pt-6 pr-4 pl-4 md-pr-10 md-pl-10 row flex-col gap-6">

                <div class="row gap-2">
                    <svg viewBox="0 0 24 24" width="20" height="20" style="fill: currentcolor;">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.293 11.293a1 1 0 0 0 0 1.414l4 4a1 1 0 0 0 1.414-1.414L8.414 13H18a1 1 0 1 0 0-2H8.414l2.293-2.293a1 1 0 0 0-1.414-1.414l-4 4Z"
                            fill="currentColor"></path>
                    </svg>
                    <span class="navigate-back">Back to Browse Games </span>
                </div>

                <div class="product-content">

                    <div class="product-content-wrapper row gap-6">

                        <div class="product-logo">
                            <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-game.png"
                                alt="logo-origins">
                        </div>

                        <span class="product-name mt-3 row">Axie Infinity: Origins</span>
                    </div>

                    <div class="mt-6 product-description">A PVP tactical card battler</div>

                </div>

            </div>

            <section class="pb-6 xl-pb-10">
                <div class="mr-4 ml-4 mb-4 xl-mr-10 xl-ml-10 xl-mb-6 nav-tabs">

                    <div class="row gap-3 tab-content">

                        <div class="mr-2 pt-2 pb-2 pr-4 pl-4 content-overview">Overview</div>

                        <div class="row pt-2 pb-2 pr-4 pl-4 gap-2">
                            <div class="items-tab-item">
                                Items
                            </div>
                            <span class="new-tab-item">
                                New
                            </span>
                        </div>

                    </div>
                </div>

                <div class=" row flex-col gap-4 pr-4 pl-4 md-pl-10 md-pr-10 xl-mb-5">

                    <div class="row flex-col gap-4 product-display">

                        <div class="row flex-col gap-4 thumbnail-list xl-col-9">
                            <div class="full-view-thumbnail">
                                <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                    alt="banner-axie">
                            </div>


                            <ul class="row gap-4 thumbnail-list-wrapper">
                                <li class="thumbnail-item">
                                    <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                        alt="banner-axie">
                                </li>

                                <li class="thumbnail-item">
                                    <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                        alt="banner-axie">
                                </li>

                                <li class="thumbnail-item">
                                    <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                        alt="banner-axie">
                                </li>

                                <li class="thumbnail-item">
                                    <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                        alt="banner-axie">
                                </li>

                                <li class="thumbnail-item">
                                    <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-banner-key-art.png"
                                        alt="banner-axie">
                                </li>

                            </ul>

                        </div>

                        <div class="row mt-4 flex-col gap-4 app-details-container xl-col-3">
                            
                            <div class="row flex-col gap-3 interactive-button">

                                <div class="row app-action-button call-to-action">
                                    <button class="row gap-2">
                                        Install
                                    </button>
                                </div>

                                <div class="row app-action-button">
                                    <button class="row gap-2">
                                        <svg class="button-module_icon__-nXel" viewBox="0 0 24 24" width="16"
                                            height="16" style="fill: currentcolor;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M8 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H8Zm3 16.25a.75.75 0 0 0 0 1.5h2a.75.75 0 0 0 0-1.5h-2Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        <span>
                                            Play on mobile
                                        </span>
                                    </button>
                                </div>


                                <div class="row app-action-button">
                                    <button class="row gap-2">
                                        <svg class="button-module_icon__-nXel" viewBox="0 0 24 24" width="16"
                                            height="16" style="fill: currentcolor;">
                                            <path
                                                d="m14.975 3.019.96-1.732a.192.192 0 0 0-.075-.263.193.193 0 0 0-.263.076l-.97 1.75a6.541 6.541 0 0 0-5.253 0l-.97-1.75a.193.193 0 0 0-.34.187l.96 1.732a5.546 5.546 0 0 0-3.092 4.876h12.136a5.546 5.546 0 0 0-3.093-4.876ZM9.2 5.674a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013Zm5.602 0a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013ZM5.93 17.171A1.467 1.467 0 0 0 7.4 18.64h.973v3a1.36 1.36 0 1 0 2.721 0v-3h1.814v3a1.361 1.361 0 1 0 2.72 0v-3h.975a1.467 1.467 0 0 0 1.467-1.468V8.375H5.93v8.796Zm-1.867-9.03a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Zm15.872 0a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        <span>
                                            Download APK
                                        </span>
                                    </button>
                                </div>

                                <div class="row app-action-button">
                                    <button class="row gap-2">
                                        <svg class="button-module_icon__-nXel" viewBox="0 0 24 24" width="16"
                                            height="16" style="fill: currentcolor;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M22 5.5a3.5 3.5 0 0 1-6.225 2.196.752.752 0 0 1-.07.04l-6.738 3.37a.746.746 0 0 1-.074.031 3.508 3.508 0 0 1 0 1.726c.025.009.05.02.074.032l6.737 3.369a.734.734 0 0 1 .07.04 3.5 3.5 0 1 1-.668 1.334.73.73 0 0 1-.073-.033l-6.737-3.369a.74.74 0 0 1-.07-.04 3.5 3.5 0 1 1 0-4.393.76.76 0 0 1 .07-.04l6.737-3.368a.769.769 0 0 1 .074-.032A3.5 3.5 0 1 1 22 5.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        <span>Share with friends</span>
                                    </button>
                                </div>

                            </div>

                            <div class="row flex-col gap-4 product-details">

                                <div class="product-item-head">
                                    Details
                                </div>

                                <div class="row mt-2 gap-2 badge-games">
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Turn-based</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Strategy</span>
                                    </div>
                                    <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                        <span class="badge-text">Adventure</span>
                                    </div>
                                </div>

                                <div class="row gap-2 platform">
                                    <div class="product-detail-title">PLATFORM</div>

                                    <div class="row gap-2 platform-icon-details">

                                        <svg viewBox="0 0 24 24" width="20" height="20" style="fill: currentcolor;">
                                            <path
                                                d="m14.975 3.019.96-1.732a.192.192 0 0 0-.075-.263.193.193 0 0 0-.263.076l-.97 1.75a6.541 6.541 0 0 0-5.253 0l-.97-1.75a.193.193 0 0 0-.34.187l.96 1.732a5.546 5.546 0 0 0-3.092 4.876h12.136a5.546 5.546 0 0 0-3.093-4.876ZM9.2 5.674a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013Zm5.602 0a.507.507 0 1 1 0-1.013.507.507 0 0 1 0 1.013ZM5.93 17.171A1.467 1.467 0 0 0 7.4 18.64h.973v3a1.36 1.36 0 1 0 2.721 0v-3h1.814v3a1.361 1.361 0 1 0 2.72 0v-3h.975a1.467 1.467 0 0 0 1.467-1.468V8.375H5.93v8.796Zm-1.867-9.03a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Zm15.872 0a1.362 1.362 0 0 0-1.36 1.361v5.669a1.36 1.36 0 1 0 2.72 0V9.502a1.362 1.362 0 0 0-1.36-1.36Z"
                                                fill="currentColor"></path>
                                        </svg>

                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg" size="20">
                                            <path
                                                d="M11.6329 14.1831C12.041 13.7925 12.3999 13.1236 12.3999 12C12.3999 10.8764 12.041 10.2075 11.6329 9.81689C11.2084 9.41051 10.6204 9.2 9.99993 9.2C9.37942 9.2 8.79151 9.41051 8.36695 9.81689C7.95883 10.2075 7.59993 10.8764 7.59993 12C7.59993 13.1236 7.95883 13.7925 8.36695 14.1831C8.79151 14.5895 9.37942 14.8 9.99993 14.8C10.6204 14.8 11.2084 14.5895 11.6329 14.1831Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM15.717 8.37576C16.0938 8.13075 16.5365 8 16.9893 8H17.2162C18.4461 8 19.5181 8.81648 19.8164 9.98033L18.666 10.2609C18.4997 9.61194 17.902 9.15669 17.2162 9.15669H16.9893C16.7706 9.15669 16.5568 9.21984 16.3748 9.33819L16.295 9.39011C16.0366 9.55809 15.8815 9.8409 15.8815 10.1437C15.8815 10.5522 16.1617 10.9101 16.5657 11.0176L18.3089 11.4813C19.445 11.7836 20.1621 12.8756 19.9685 14.0087C19.8478 14.715 19.3879 15.3224 18.7313 15.6427L18.5618 15.7254C18.0313 15.9841 17.4276 16.0629 16.8461 15.9495L16.6485 15.9109C15.8022 15.7458 15.0578 15.2595 14.579 14.559L14.4 14.2971L15.3866 13.6554L15.5657 13.9174C15.87 14.3627 16.3431 14.6718 16.8811 14.7767L17.0787 14.8153C17.4016 14.8783 17.7369 14.8345 18.0315 14.6908L18.201 14.6081C18.5183 14.4533 18.7405 14.1598 18.7988 13.8185C18.8924 13.271 18.5459 12.7433 17.9969 12.5973L16.2537 12.1335C15.3338 11.8888 14.6957 11.0738 14.6957 10.1437C14.6957 9.45416 15.049 8.81019 15.6372 8.42768L15.717 8.37576ZM4 16.0001V10.4999H5.2V16.0001H4ZM4.6 8C4.26863 8 4 8.26863 4 8.6C4 8.93137 4.26863 9.2 4.6 9.2C4.93137 9.2 5.2 8.93137 5.2 8.6C5.2 8.26863 4.93137 8 4.6 8ZM9.99993 16C11.7672 16 13.5999 14.8 13.5999 12C13.5999 9.2 11.7672 8 9.99993 8C8.23262 8 6.39993 9.2 6.39993 12C6.39993 14.8 8.23262 16 9.99993 16Z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>

                                <div class="row gap-2 developer">
                                    <div class="title-developer">DEVELOPED BY</div>

                                    <div>
                                        Sky Mavis
                                    </div>
                                </div>

                                <div class="separator-product-detail">

                                </div>

                                <div class="row flex-col gap-2 collectible-list">
                                    <div class="row gap-2 title-collectibles">
                                        <span>collectibles</span>
                                        <span>
                                            <svg viewBox="0 0 24 24" width="20" height="20"
                                                style="fill: currentcolor;">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10ZM12 7.75c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 5.064 1.487 8.991 8.991 0 0 1-.562.757l-.1.124a13.7 13.7 0 0 0-.428.548c-.324.444-.474.779-.474 1.084v.5a.75.75 0 0 1-1.5 0V13c0-.8.392-1.46.761-1.967.156-.214.326-.425.482-.617l.09-.113c.186-.23.344-.432.47-.628A1.25 1.25 0 0 0 12 7.75Zm.75 8.25a.75.75 0 0 0-1.5 0v1a.75.75 0 0 0 1.5 0v-1Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="row gap-2">
                                        <div class="collection-item">
                                            <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1696575551-tab-axie.png"
                                                alt="logo-axie">
                                        </div>

                                        <div class="collection-item">
                                            <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1696575529-tab-rune.png"
                                                alt="logo-rune">
                                        </div>
                                        <div class="collection-item">
                                            <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1696575503-tab-charm.png"
                                                alt="logo-charm">
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>



                    <div class="row flex-col gap-3 mt-4 description-section xl-col-9">

                        <div class="pt-2 pb-2 title-primary">
                            Description
                        </div>

                        <div class="game-summary">
                            <p>
                                Axie Infinity Origins is a card-based strategy game where players collect, own, and
                                use
                                an infinite variety of creatures called Axies to battle. Players can take down evil
                                Chimeras in the Adventure mode or challenge other players in the Arena to reach the
                                top
                                of the Leaderboard.
                            </p>
                        </div>
                    </div>

                    <div class="row flex-col mt-4 gap-3 system-requirements-section xl-col-9">

                        <div class="pt-2 pb-2 title-primary">
                            System Requirements
                        </div>

                        <div class="hardware-requirements">
                            <div class="pt-5 pr-5 pl-5 nav-tabs">
                                <div class="row gap-3 tab-content">

                                    <div class="mr-2 pt-2 pb-2 pr-4 pl-4 content-overview">Windows</div>

                                    <div class="row pt-2 pb-2 pr-4 pl-4 gap-2 content-overview">
                                        MacOS
                                    </div>

                                    <div class="row pt-2 pb-2 pr-4 pl-4 gap-2 content-overview">
                                        iOS
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="pt-2 ">

                                <div class="pt-4 pb-5 pr-5 pl-5 row gap-5 flex-col system-requirements">
                                    <div class=" row flex-col gap-3">

                                        <div class="system-requirements-title">MINIMUM</div>

                                        <div class="row flex-col gap-1">
                                            <div class="system-spec-name">Os</div>
                                            <div>Windows 7/8/8.1/10 (64-bit versions)</div>
                                        </div>

                                        <div class="row flex-col gap-1">
                                            <div class="system-spec-name">Processor</div>
                                            <div>Intel Core i5/i7/i9/Xeon/Ryzen/Athlon/Phenom/Athlon XP/Athlon MP/Athton
                                                XP/Athlon MP</div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                            
                        </div>

                    </div>

                </div>

        </div>
        </section>

    </div>


    </div>
</main>