<section>
    <div class="container">

        <div class="row flex-col gap-4">

            <div class="row gap-2 pr-4 pl-4 md-pr-10 md-pl-10 popular-genres-content">

                <div class="row popular-genres-content-wrapper">
                    <div class="title-primary">Popular Genres</div>

                    <div class="row navbar-browse-all">
                        <div class="separator"></div>

                        <div class="browse-all-button">
                            <button>Browse all</button>
                        </div>
                    </div>

                </div>

                <div class="row gap-3 slider-nav-button">
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14.625 6.22a1 1 0 0 1 .156 1.405L11.28 12l3.5 4.375a1 1 0 0 1-1.562 1.25l-4-5a1 1 0 0 1 0-1.25l4-5a1 1 0 0 1 1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.375 6.22a1 1 0 0 0-.156 1.405L12.72 12l-3.5 4.375a1 1 0 0 0 1.562 1.25l4-5a1 1 0 0 0 0-1.25l-4-5a1 1 0 0 0-1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>

            <div class="md-pr-10 md-pl-10">
                <ul class="row gap-6 popular-genres-list">

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">
                            <div class="row flex-col gap-2 genres-icon">
                                <svg data-slot="symbol" viewBox="0 0 24 24" width="32" height="32"
                                    style="fill: currentcolor;">
                                    <path
                                        d="M16.75 17.16v4.648c1.692-.456 3.539-1.724 4.528-2.472A1.86 1.86 0 0 0 22 17.842v-9.67c0-.853-1.028-1.348-1.736-.872l-.161.107a5.485 5.485 0 0 1 .647 2.59 2.5 2.5 0 0 1-2 2.45v1.55a3.5 3.5 0 0 1-2 3.163ZM10.812 6.748c-.624-.392-1.29-.692-2.062-.757v12.76c1.278.108 2.264.858 3.25 1.608.986.75 1.972 1.5 3.25 1.607v-4.469a3.5 3.5 0 0 1-3.5-3.5v-1.55a2.5 2.5 0 0 1-2-2.45 5.482 5.482 0 0 1 1.062-3.249ZM7.25 6.15c-1.692.455-3.539 1.723-4.528 2.47A1.86 1.86 0 0 0 2 10.117v9.669c0 .853 1.028 1.348 1.736.872 1-.672 2.297-1.42 3.514-1.747V6.15Z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M15.25 5.997a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 0A3.993 3.993 0 0 0 11.784 8a3.983 3.983 0 0 0-.534 1.998 1 1 0 0 0 1 1 1 1 0 0 1 1 1v2a2 2 0 1 0 4 0v-2a1 1 0 0 1 1-1 1 1 0 0 0 1-1 4 4 0 0 0-4-4Z"
                                        fill="currentColor"></path>
                                </svg>
                                <span class="genres-title">Adventure</span>
                            </div>
                        </div>
                    </li>

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">
                            <div class="row flex-col gap-2 genres-icon">
                                <svg data-slot="symbol" viewBox="0 0 24 24" width="32" height="32"
                                    style="fill: currentcolor;">
                                    <path
                                        d="M20 3H8a2 2 0 0 0-2 2v3a1 1 0 0 1-1 1 3 3 0 1 0 0 6 1 1 0 0 1 1 1v3a2 2 0 0 0 2 2h2a1 1 0 0 0 1-1 3 3 0 1 1 6 0 1 1 0 0 0 1 1h2a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1 3 3 0 1 1 0-6 1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"
                                        fill="currentColor"></path>
                                </svg>
                                <span class="genres-title">Puzzle</span>
                            </div>
                        </div>
                    </li>

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">
                            <div class="row flex-col gap-2 genres-icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" size="32" data-slot="symbol">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.2857 11.2857C18.0215 11.2857 19.4286 9.87861 19.4286 8.14286C19.4286 6.40711 18.0215 5 16.2857 5C14.55 5 13.1429 6.40711 13.1429 8.14286C13.1429 9.87861 14.55 11.2857 16.2857 11.2857ZM16.2857 11.2857C14.2888 11.2857 12.5093 12.2169 11.3579 13.6689C11.1673 13.9092 10.9939 14.1639 10.8395 14.431C10.3056 15.355 10 16.4275 10 17.5714C10 18.4393 10.7036 19.1429 11.5714 19.1429C12.4393 19.1429 13.1429 19.8464 13.1429 20.7143V23.8571C13.1429 25.5929 14.55 27 16.2857 27C18.0215 27 19.4286 25.5929 19.4286 23.8571V20.7143C19.4286 20.0297 19.8663 19.4474 20.4772 19.2319C20.6407 19.1742 20.8167 19.1429 21 19.1429C21.8679 19.1429 22.5714 18.4393 22.5714 17.5714C22.5714 16.6285 22.3638 15.734 21.9917 14.9312C20.9941 12.7787 18.8142 11.2857 16.2857 11.2857Z">
                                    </path>
                                </svg>
                                <span class="genres-title">RPG</span>
                            </div>
                        </div>
                    </li>

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">
                            <div class="row flex-col gap-2 genres-icon">
                                <svg data-slot="symbol" viewBox="0 0 24 24" width="32" height="32"
                                    style="fill: currentcolor;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16 18.458v.292c0 2.301-1.79 4.167-4 4.167S8 21.05 8 18.75v-.292h3.79a.72.72 0 0 0 .42 0H16Zm0-1.5v-.511c0-.681.333-1.305.808-1.773A7.417 7.417 0 0 0 19 9.375c0-4.027-3.134-7.292-7-7.292S5 5.348 5 9.375c0 2.087.842 3.97 2.192 5.3.475.467.808 1.09.808 1.772v.511h3.25v-5.176L9.47 9.927a.804.804 0 0 1 0-1.104.729.729 0 0 1 1.06 0l1.47 1.53 1.47-1.53a.729.729 0 0 1 1.06 0c.293.305.293.8 0 1.104l-1.78 1.855v5.176H16Z"
                                        fill="currentColor"></path>
                                </svg>
                                <span class="genres-title">Strategy</span>
                            </div>
                        </div>
                    </li>

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">
                            <div class="row flex-col gap-2 genres-icon">
                                <svg data-slot="symbol" viewBox="0 0 24 24" width="32" height="32"
                                    style="fill: currentcolor;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.75 2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6Zm10 12a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-6Zm6.604-7.25-.72.72a.75.75 0 0 0 1.06 1.06l1.293-1.293a1.75 1.75 0 0 0 0-2.474L20.695 3.47a.75.75 0 1 0-1.061 1.06l.72.72H15.75a.75.75 0 0 0 0 1.5h4.604ZM3.866 19.47l-.72-.72H7.75a.75.75 0 0 0 0-1.5H3.146l.72-.72a.75.75 0 1 0-1.06-1.06l-1.293 1.293a1.75 1.75 0 0 0 0 2.474l1.292 1.293a.75.75 0 0 0 1.061-1.06Z"
                                        fill="currentColor"></path>
                                </svg>
                                <span class="genres-title">Turn-Based</span>
                            </div>
                        </div>
                    </li>

                    <li class="popular-genres-item">
                        <div class="row flex-col popular-genres-item-wrapper">

                            <div class="row flex-col gap-2 genres-icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" size="32" data-slot="symbol">
                                    <path
                                        d="M6.53224 22.8903C6.18902 23.2335 6 23.691 6 24.1787C6 24.6664 6.18902 25.124 6.53224 25.4672C6.88749 25.8224 7.35405 26 7.82073 26C8.28729 26 8.75397 25.8224 9.10918 25.4672L16.1265 18.4499L13.5495 15.8729L6.53224 22.8903Z">
                                    </path>
                                    <path
                                        d="M23.5897 8.40982C23.0552 7.8754 22.2687 7.7431 21.6093 8.01275L23.9867 10.3902C24.2563 9.73083 24.1241 8.94429 23.5897 8.40982Z">
                                    </path>
                                    <path
                                        d="M25.8216 13.943L18.0564 6.17793C17.9425 6.06398 17.7881 6 17.627 6H15.3935C15.2323 6 15.0779 6.06398 14.964 6.17793L11.8145 9.32739C11.7006 9.4413 11.6366 9.59578 11.6366 9.75686V11.9904C11.6366 12.1515 11.7006 12.306 11.8145 12.4198L19.5796 20.185C19.6935 20.2989 19.848 20.3629 20.0091 20.3629H22.2426C22.4037 20.3629 22.5582 20.2989 22.6721 20.185L25.8216 17.0355C25.9355 16.9216 25.9995 16.7671 25.9995 16.606V14.3725C25.9994 14.2114 25.9355 14.0569 25.8216 13.943Z">
                                    </path>
                                </svg>
                                <span class="genres-title">Build & Battle</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>