*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dg-color-background-dark: #0d0e12;
  --dg-color-background-header: linear-gradient(
    180deg,
    #1c1f25 0%,
    #0d0e12 100%
  );
  --dg-color-background-tag-primary: #13161b;
  --dg-color-background-text-note: #1c1f25b3;

  --dg-color-text-default: #fff;
  --dg-color-text: #8e97a8;
  --dg-color-text-dark: #b4bccb;
  --dg-tag-default-intent-text-color: var(--dg-color-text-dark);
  --dg-input-disabled-intent-input-color: var(--dg-color-dark);
  --dg-color-primary: #0094ff;
  --dg-button-variant-plain-color-primary: var(--dg-color-primary);
  --dg-color-text-note: #5b6372;

  --dg-color-disabled: #282c34;
  --dg-button-variant-background-primary: var(--dg-color-primary-gradient);
  --dg-color-primary-gradient: linear-gradient(
    104.04deg,
    #00b8ff 0%,
    #0d51d3 100%
  );
  --dg-input-disabled-intent-input-default-bg-color: var(--dg-color-disabled);
}

body {
  background-color: var(--dg-color-background-dark);
  /* hidden scroll on Firefox */
  scrollbar-width: none;
  /* Scroll bar movement when clicking on a link to slide down will be smoother*/
  scroll-behavior: smooth;

  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: var(--dg-color-text-default);
  font-weight: 400;
  line-height: 20px;
  overflow: auto;
}

button {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border-radius: 8px;
  color: var(--dg-color-text-default);
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.justify-start {
  justify-content: flex-start;
}

.flex-col {
  flex-direction: column;
}
.badge-item {
  background-color: #282c34;
  border-radius: 8px;
  cursor: pointer;
}
.badge-text {
  color: #b4bcbb;
  font-weight: 500;
}
.title-primary {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  font-family: inherit;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #282c34;
  margin: 12px;
}

::placeholder {
  color: #5b6372;
  font-weight: 400;
  font-size: 14px;
}

/* ẩn thanh cuộn cho trình duyệt như gg,... */
::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}

/* Divide in columns*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* padding */

.pt-1 {
  padding-top: 4px;
}

.pr-1 {
  padding-right: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pr-2 {
  padding-right: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pr-3 {
  padding-right: 12px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pl-3 {
  padding-left: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pr-4 {
  padding-right: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pl-4 {
  padding-left: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.pr-5 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 20px;
}

.pt-6 {
  padding-top: 24px;
}

.pr-6 {
  padding-right: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pl-6 {
  padding-left: 24px;
}

.pt-7 {
  padding-top: 28px;
}

.pr-7 {
  padding-right: 28px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pl-7 {
  padding-left: 28px;
}

.pt-8 {
  padding-top: 32px;
}

.pr-8 {
  padding-right: 32px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pl-8 {
  padding-left: 32px;
}

.pt-9 {
  padding-top: 36px;
}

.pr-9 {
  padding-right: 36px;
}

.pb-9 {
  padding-bottom: 36px;
}

.pl-9 {
  padding-left: 36px;
}

.pt-10 {
  padding-top: 40px;
}

.pr-10 {
  padding-right: 40px;
}

.pb-10 {
  padding-bottom: 40px;
}

.pl-10 {
  padding-left: 40px;
}

/* margin */
.mt-1 {
  margin-top: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mr-3 {
  margin-right: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.ml-3 {
  margin-left: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ml-4 {
  margin-left: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mr-6 {
  margin-right: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.ml-6 {
  margin-left: 24px;
}

.mt-7 {
  margin-top: 28px;
}

.mr-7 {
  margin-right: 28px;
}

.mb-7 {
  margin-bottom: 28px;
}

.ml-7 {
  margin-left: 28px;
}

.mt-8 {
  margin-top: 32px;
}

.mr-8 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 32px;
}

.ml-8 {
  margin-left: 32px;
}

.mt-9 {
  margin-top: 36px;
}

.mr-9 {
  margin-right: 36px;
}

.mb-9 {
  margin-bottom: 36px;
}

.ml-9 {
  margin-left: 36px;
}

.mt-10 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 40px;
}

.ml-10 {
  margin-left: 40px;
}

/* gap */
.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}
.gap-11 {
  gap: 44px;
}
.gap-12 {
  gap: 48px;
}

.gap-11 {
  gap: 44px;
}

.gap-12 {
  gap: 48px;
}


/* responsive Tablet */
@media only screen and (min-width: 768px) {
  /* Divide in columns */
  .md-col-1 {
    width: 8.33%;
  }

  .md-col-2 {
    width: 16.66%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33%;
  }

  .md-col-5 {
    width: 41.66%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33%;
  }

  .md-col-8 {
    width: 66.66%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33%;
  }

  .md-col-11 {
    width: 91.66%;
  }

  .md-col-12 {
    width: 100%;
  }

  /* padding */
  .md-pt-1 {
    padding-top: 4px;
  }

  .md-pr-1 {
    padding-right: 4px;
  }

  .md-pb-1 {
    padding-bottom: 4px;
  }

  .md-pl-1 {
    padding-left: 4px;
  }

  .md-pt-2 {
    padding-top: 8px;
  }

  .md-pr-2 {
    padding-right: 8px;
  }

  .md-pb-2 {
    padding-bottom: 8px;
  }

  .md-pl-2 {
    padding-left: 8px;
  }

  .md-pt-3 {
    padding-top: 12px;
  }

  .md-pr-3 {
    padding-right: 12px;
  }

  .md-pb-3 {
    padding-bottom: 12px;
  }

  .md-pl-3 {
    padding-left: 12px;
  }

  .md-pt-4 {
    padding-top: 16px;
  }

  .md-pr-4 {
    padding-right: 16px;
  }

  .md-pb-4 {
    padding-bottom: 16px;
  }

  .md-pl-4 {
    padding-left: 16px;
  }

  .md-pt-5 {
    padding-top: 20px;
  }

  .md-pr-5 {
    padding-right: 20px;
  }

  .md-pb-5 {
    padding-bottom: 20px;
  }

  .md-pl-5 {
    padding-left: 20px;
  }

  .md-pt-6 {
    padding-top: 24px;
  }

  .md-pr-6 {
    padding-right: 24px;
  }

  .md-pb-6 {
    padding-bottom: 24px;
  }

  .md-pl-6 {
    padding-left: 24px;
  }

  .md-pt-7 {
    padding-top: 28px;
  }

  .md-pr-7 {
    padding-right: 28px;
  }

  .md-pb-7 {
    padding-bottom: 28px;
  }

  .md-pl-7 {
    padding-left: 28px;
  }

  .md-pt-8 {
    padding-top: 32px;
  }

  .md-pr-8 {
    padding-right: 32px;
  }

  .md-pb-8 {
    padding-bottom: 32px;
  }

  .md-pl-8 {
    padding-left: 32px;
  }

  .md-pt-9 {
    padding-top: 36px;
  }

  .md-pr-9 {
    padding-right: 36px;
  }

  .md-pb-9 {
    padding-bottom: 36px;
  }

  .md-pl-9 {
    padding-left: 36px;
  }

  .md-pt-10 {
    padding-top: 40px;
  }

  .md-pr-10 {
    padding-right: 40px;
  }

  .md-pb-10 {
    padding-bottom: 40px;
  }

  .md-pl-10 {
    padding-left: 40px;
  }

  /* margin */
  .md-mt-1 {
    margin-top: 4px;
  }

  .md-mr-1 {
    margin-right: 4px;
  }

  .md-mb-1 {
    margin-bottom: 4px;
  }

  .md-ml-1 {
    margin-left: 4px;
  }

  .md-mt-2 {
    margin-top: 8px;
  }

  .md-mr-2 {
    margin-right: 8px;
  }

  .md-mb-2 {
    margin-bottom: 8px;
  }

  .md-ml-2 {
    margin-left: 8px;
  }

  .md-mt-3 {
    margin-top: 12px;
  }

  .md-mr-3 {
    margin-right: 12px;
  }

  .md-mb-3 {
    margin-bottom: 12px;
  }

  .md-ml-3 {
    margin-left: 12px;
  }

  .md-mt-4 {
    margin-top: 16px;
  }

  .md-mr-4 {
    margin-right: 16px;
  }

  .md-mb-4 {
    margin-bottom: 16px;
  }

  .md-ml-4 {
    margin-left: 16px;
  }

  .md-mt-5 {
    margin-top: 20px;
  }

  .md-mr-5 {
    margin-right: 20px;
  }

  .md-mb-5 {
    margin-bottom: 20px;
  }

  .md-ml-5 {
    margin-left: 20px;
  }

  .md-mt-6 {
    margin-top: 24px;
  }

  .md-mr-6 {
    margin-right: 24px;
  }

  .md-mb-6 {
    margin-bottom: 24px;
  }

  .md-ml-6 {
    margin-left: 24px;
  }

  .md-mt-7 {
    margin-top: 28px;
  }

  .md-mr-7 {
    margin-right: 28px;
  }

  .md-mb-7 {
    margin-bottom: 28px;
  }

  .md-ml-7 {
    margin-left: 28px;
  }

  .md-mt-8 {
    margin-top: 32px;
  }

  .md-mr-8 {
    margin-right: 32px;
  }

  .md-mb-8 {
    margin-bottom: 32px;
  }

  .md-ml-8 {
    margin-left: 32px;
  }

  .md-mt-9 {
    margin-top: 36px;
  }

  .md-mr-9 {
    margin-right: 36px;
  }

  .md-mb-9 {
    margin-bottom: 36px;
  }

  .md-ml-9 {
    margin-left: 36px;
  }

  .md-mt-10 {
    margin-top: 40px;
  }

  .md-mr-10 {
    margin-right: 40px;
  }

  .md-mb-10 {
    margin-bottom: 40px;
  }

  .md-ml-10 {
    margin-left: 40px;
  }

  /* gap */
  .md-gap-1 {
    gap: 4px;
  }

  .md-gap-2 {
    gap: 8px;
  }

  .md-gap-3 {
    gap: 12px;
  }

  .md-gap-4 {
    gap: 16px;
  }

  .md-gap-5 {
    gap: 20px;
  }

  .md-gap-6 {
    gap: 24px;
  }

  .md-gap-7 {
    gap: 28px;
  }

  .md-gap-8 {
    gap: 32px;
  }

  .md-gap-9 {
    gap: 36px;
  }

  .md-gap-10 {
    gap: 40px;
  }

  .md-gap-11 {
    gap: 44px;
  }

  .md-gap-12 {
    gap: 48px;
  }
}

/* responsive PC */
@media screen and (min-width: 992px) {
  /* Divide in columns*/
  .xl-col-1 {
    width: 8.33%;
  }

  /* Divide in columns*/
  .xl-col-1 {
    width: 8.33%;
  }
  /* Divide in columns*/
  .xl-col-1 {
    width: 8.33%;
  }

  .xl-col-2 {
    width: 16.66%;
  }

  .xl-col-3 {
    width: 25%;
  }

  .xl-col-4 {
    width: 33.33%;
  }

  .xl-col-5 {
    width: 41.66%;
  }

  .xl-col-6 {
    width: 50%;
  }

  .xl-col-7 {
    width: 58.33%;
  }

  .xl-col-8 {
    width: 66.66%;
  }

  .xl-col-9 {
    width: 75%;
  }

  .xl-col-10 {
    width: 83.33%;
  }

  .xl-col-11 {
    width: 91.66%;
  }

  .xl-col-12 {
    width: 100%;
  }

  /* padding */
  .xl-pt-1 {
    padding-top: 4px;
  }

  .xl-pr-1 {
    padding-right: 4px;
  }

  .xl-pb-1 {
    padding-bottom: 4px;
  }

  .xl-pl-1 {
    padding-left: 4px;
  }

  .xl-pt-2 {
    padding-top: 8px;
  }

  .xl-pr-2 {
    padding-right: 8px;
  }

  .xl-pb-2 {
    padding-bottom: 8px;
  }

  .xl-pl-2 {
    padding-left: 8px;
  }

  .xl-pt-3 {
    padding-top: 12px;
  }

  .xl-pr-3 {
    padding-right: 12px;
  }

  .xl-pb-3 {
    padding-bottom: 12px;
  }

  .xl-pl-3 {
    padding-left: 12px;
  }

  .xl-pt-4 {
    padding-top: 16px;
  }

  .xl-pr-4 {
    padding-right: 16px;
  }

  .xl-pb-4 {
    padding-bottom: 16px;
  }

  .xl-pl-4 {
    padding-left: 16px;
  }

  .xl-pt-5 {
    padding-top: 20px;
  }

  .xl-pr-5 {
    padding-right: 20px;
  }

  .xl-pb-5 {
    padding-bottom: 20px;
  }

  .xl-pl-5 {
    padding-left: 20px;
  }

  .xl-pt-6 {
    padding-top: 24px;
  }

  .xl-pr-6 {
    padding-right: 24px;
  }

  .xl-pb-6 {
    padding-bottom: 24px;
  }

  .xl-pl-6 {
    padding-left: 24px;
  }

  .xl-pt-7 {
    padding-top: 28px;
  }

  .xl-pr-7 {
    padding-right: 28px;
  }

  .xl-pb-7 {
    padding-bottom: 28px;
  }

  .xl-pl-7 {
    padding-left: 28px;
  }

  .xl-pt-8 {
    padding-top: 32px;
  }

  .xl-pr-8 {
    padding-right: 32px;
  }

  .xl-pb-8 {
    padding-bottom: 32px;
  }

  .xl-pl-8 {
    padding-left: 32px;
  }

  .xl-pt-9 {
    padding-top: 36px;
  }

  .xl-pr-9 {
    padding-right: 36px;
  }

  .xl-pb-9 {
    padding-bottom: 36px;
  }

  .xl-pl-9 {
    padding-left: 36px;
  }

  .xl-pt-10 {
    padding-top: 40px;
  }

  .xl-pr-10 {
    padding-right: 40px;
  }

  .xl-pb-10 {
    padding-bottom: 40px;
  }

  .xl-pl-10 {
    padding-left: 40px;
  }

  /* margin */
  .xl-mt-1 {
    margin-top: 4px;
  }

  .xl-mr-1 {
    margin-right: 4px;
  }

  .xl-mb-1 {
    margin-bottom: 4px;
  }

  .xl-ml-1 {
    margin-left: 4px;
  }

  .xl-mt-2 {
    margin-top: 8px;
  }

  .xl-mr-2 {
    margin-right: 8px;
  }

  .xl-mb-2 {
    margin-bottom: 8px;
  }

  .xl-ml-2 {
    margin-left: 8px;
  }

  .xl-mt-3 {
    margin-top: 12px;
  }

  .xl-mr-3 {
    margin-right: 12px;
  }

  .xl-mb-3 {
    margin-bottom: 12px;
  }

  .xl-ml-3 {
    margin-left: 12px;
  }

  .xl-mt-4 {
    margin-top: 16px;
  }

  .xl-mr-4 {
    margin-right: 16px;
  }

  .xl-mb-4 {
    margin-bottom: 16px;
  }

  .xl-ml-4 {
    margin-left: 16px;
  }

  .xl-mt-5 {
    margin-top: 20px;
  }

  .xl-mr-5 {
    margin-right: 20px;
  }

  .xl-mb-5 {
    margin-bottom: 20px;
  }

  .xl-ml-5 {
    margin-left: 20px;
  }

  .xl-mt-6 {
    margin-top: 24px;
  }

  .xl-mr-6 {
    margin-right: 24px;
  }

  .xl-mb-6 {
    margin-bottom: 24px;
  }

  .xl-ml-6 {
    margin-left: 24px;
  }

  .xl-mt-7 {
    margin-top: 28px;
  }

  .xl-mr-7 {
    margin-right: 28px;
  }

  .xl-mb-7 {
    margin-bottom: 28px;
  }

  .xl-ml-7 {
    margin-left: 28px;
  }

  .xl-mt-8 {
    margin-top: 32px;
  }

  .xl-mr-8 {
    margin-right: 32px;
  }

  .xl-mb-8 {
    margin-bottom: 32px;
  }

  .xl-ml-8 {
    margin-left: 32px;
  }

  .xl-mt-9 {
    margin-top: 36px;
  }

  .xl-mr-9 {
    margin-right: 36px;
  }

  .xl-mb-9 {
    margin-bottom: 36px;
  }

  .xl-ml-9 {
    margin-left: 36px;
  }

  .xl-mt-10 {
    margin-top: 40px;
  }

  .xl-mr-10 {
    margin-right: 40px;
  }

  .xl-mb-10 {
    margin-bottom: 40px;
  }

  .xl-ml-10 {
    margin-left: 40px;
  }
  /* gap */
  .xl-gap-1 {
    gap: 4px;
  }

  .xl-gap-2 {
    gap: 8px;
  }

  .xl-gap-3 {
    gap: 12px;
  }

  .xl-gap-4 {
    gap: 16px;
  }

  .xl-gap-5 {
    gap: 20px;
  }

  .xl-gap-6 {
    gap: 24px;
  }

  .xl-gap-7 {
    gap: 28px;
  }

  .xl-gap-8 {
    gap: 32px;
  }

  .xl-gap-9 {
    gap: 36px;
  }

  .xl-gap-10 {
    gap: 40px;
  }

  .xl-gap-11 {
    gap: 44px;
  }

  .xl-gap-12 {
    gap: 48px;
  }
}
