/* navbar */
header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar {
  background: linear-gradient(180deg, #1c1f25 0%, #0d0e12 100%);
  border-bottom: 1px solid #1c1f25;
}

.navbar-wrapper {
  padding: 0 16px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  justify-content: space-between;
}

.navbar-logo {
  justify-content: center;
}

.navbar-logo-image {
  width: 74px;
  height: 28px;
}

.primary-navbar {
  align-items: center;
}

.navbar-item {
  min-height: 40px;
  background-color: transparent;
  color: var(--dg-color-text-default);
  padding: 0 12px;
}

.menu-bar {
  display: none;
}

.menu-right {
  display: none;
}

/* ------------------------------------------------------------- */
/* hidden menu */
.navbar-menu {
  padding: 40px 12px;
  gap: 24px;
}

.navbar-menu button {
  align-items: center;
}

.navbar-menu p {
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 600;
}

.menu-login:hover {
  background: #3c424d;
  border-radius: 8px;
}

.menu-primary-mb button:hover {
  background: #3c424d;
  border-radius: 8px;
}

.menu-item-line {
  border-bottom: 1px solid #1c1f25;
}

.menu-primary-mb {
  gap: 24px;
}

.mobile-menu-active {
  background: #3c424d;
  border-radius: 8px;
}

/* --------------------------------------------------------------PAGE HOME */
/* main */
.product-primary-wrapper {
  padding: 20px 0 64px;
  gap: 48px;
}

/* banner */
.banner {
  min-height: 400px;
}

.banner-wrapper {
  position: relative;
}

.banner-game-primary::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(254deg,
      rgba(13, 14, 18, 0) 16.48%,
      rgba(13, 14, 18, 0.9) 107.29%);
  border-radius: 16px;
  top: 0;
  left: 0;
  z-index: 4;
}

.banner-game-primary {
  height: 400px;
}

.banner-game-primary img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  position: relative;
  z-index: 1;
}

.banner-primary-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 32px;
  z-index: 5;
  gap: 32px;
}

.banner-primary-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}

.action-buttons-game-banner {
  gap: 12px;
}

.play-now-button {
  background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
  max-width: 240px;
  border-radius: 8px;
}

.play-now-button :hover {
  background: #0d51d3;
}

.read-more-link-text svg {
  height: 20px;
  width: 20px;
}

.read-more-link button:hover {
  color: #00b8ff;
}

.read-more-link-text {
  border: 1px solid transparent;
  gap: 8px;
}

/* featured games */

/* title featured games */
.featured-games-content {
  justify-content: space-between;
  align-items: center;
}

/* pagination */
.slider-nav-button {
  align-items: center;
}

.slider-nav-button button {
  border: 1px solid transparent;
  padding: 0 8px;
}

/* video */

.featured-video-wrapper {
  justify-content: center;
  align-items: center;
}

.featured-video {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.featured-video-content {
  position: relative;
  background-image: url(https://img.youtube.com/vi/J19Ypn7PV6w/mqdefault.jpg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-size: cover;
  background-position: center;
}

.video-content-wrapper {
  padding: 16px;
  backdrop-filter: blur(50px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #00000040;
}

.logo-puffgo {
  /* visibility: hidden; */
  display: none;
}

.title-featured-game {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.featured-game-description {
  word-break: break-all;
}

.badge-item:hover {
  background: #3c424d;
}

.action-panel-puffgo {
  justify-content: space-between;
  align-items: center;
}

.button-play-puffgo {
  background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
  border-radius: 8px;
}

.button-play-puffgo button {
  outline: none;
  font-weight: 500;
}

.button-play-puffgo:hover {
  background: #0d51d3;
}

.platform-icon {
  align-items: flex-start;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* most played games */

.most-played-games-content {
  justify-content: space-between;
  align-items: center;
}

.most-played-games .slider-nav-button {
  /* The element is hidden (but still takes up space) */
  visibility: hidden;
}

.list-most-played-games {
  cursor: pointer;
}

.list-most-played-games-wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(324px, 1fr));
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* hidden scroll on firefox */
  scrollbar-width: none;
  scroll-snap-stop: always;
  /* scroll-padding: 0 16px; */
  grid-auto-flow: column;
  /* width: calc(100% + 12px);
  max-width: calc(100% + 12px); */
  padding: 0 16px;
}

.game-item-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(13, 14, 18, 0) 36.93%,
      rgba(13, 14, 18, 0.4) 58.4%,
      rgba(13, 14, 18, 0.9) 100%);
  top: 0;
  z-index: 2;
}

.game-item-wrapper {
  scroll-snap-align: start;
  position: relative;
}

.game-item img {
  cursor: pointer;

  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.most-played-section-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.most-played-game-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.most-played-games-description {
  color: #b4bccb;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* highlight games */

.slider-nav-button {
  visibility: hidden;
}

.highlight-games-content {
  align-items: center;
}

.navbar-browse-all {
  align-items: center;
}

.most-played-games .slider-nav-button {
  /* The element is hidden (but still takes up space) */
  visibility: hidden;
}

.browse-all-button button {
  color: #0094ff;
  font-weight: 600;
  white-space: nowrap;
}

.caption-games {
  position: relative;
  padding: 16px;
}

.list-highlight-games-wrapper {
  display: grid;
  grid-template-rows: repeat(1, minmax(276px, 1fr));
  grid-template-columns: repeat(6, minmax(258px, 1fr));

  width: 100%;
  padding: 0 16px;

  scroll-padding: 0 16px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  overflow-x: auto;
}

.game-card {
  scroll-snap-align: start;
  cursor: pointer;
}

.game-card-wrapper {
  background-color: #13161b;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.banner-games {
  width: 100%;
  height: 172px;
}

.banner-games img {
  aspect-ratio: 3/2;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.publisher-highlight-games {
  color: #8e97a8;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.platform-highlight-games {
  position: absolute;
  top: 16px;
  right: 16px;
}

.platform-highlight-games svg {
  color: #8e97a8;
  width: 16px;
  height: 16px;
}

.title-games {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
}

.badge-games {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

/* ------------------------------------------------------------------------ */
/* news and events */

.news-events-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(282px, 1fr));

  padding: 0 16px;

  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 0 16px;

  overflow-x: auto;
}

.news-and-events-item {
  scroll-snap-align: start;
  cursor: pointer;
}

.news-and-events-item-wrapper {
  background-color: #13161b;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.news-and-events-content {
  height: 40px;
  align-items: center;
}

.news-events-banner img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  object-fit: cover;
  aspect-ratio: 3/2;
}

.news-and-events-caption {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news-and-events-title {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 234px;
}

.news-and-events-date {
  color: #8e97a8;
  font-weight: 500;
}

/* /-------------------------------------------------------------------------------- */
/* popular genres*/

.popular-genres-content {
  align-items: center;
}

.popular-genres-content-wrapper {
  align-items: center;
}

.popular-genres-list {
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 0 16px;

  overflow-x: auto;
  padding: 0 16px;
}

.popular-genres-item {
  scroll-snap-align: start;
  cursor: pointer;
}

.popular-genres-item-wrapper {
  background-color: #13161b;
  min-width: 120px;
  height: 120px;
  border-radius: 8px;
  padding: 24px 8px;
}

.genres-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}

.genres-icon {
  align-items: center;
}

.genres-icon svg {
  color: #737d8f;
  justify-content: center;
  align-items: center;
}

.genres-icon svg:hover {
  color: #0094ff;
}

/* voting panel */

.voting-panel {
  background-image: url(https://hub.skymavis.com/assets/greenlight-banner.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-position-x: 65%;
}

.voting-panel-logo {
  position: relative;
  width: 148px;
  height: 140px;
}

.voting-panel-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.business-name img {
  height: 24px;
}

.greenlight-title {
  background: linear-gradient(180deg, #00b21d 0%, #afdb1b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: 54px;
  font-family: Changa One, cursive;
  font-size: 46px;
  margin-top: -18px;
}

.voting-panel-description {
  vertical-align: bottom;
}

.voting-button {
  border-radius: 8px;
  background: linear-gradient(104.04deg, #3fcd3c 0%, #00872e 100%);
  white-space: nowrap;
}

.voting-button button:hover {
  background: #00872e;
}

.voting-button svg {
  height: 20px;
  width: 20px;
  margin-left: 8px;
  vertical-align: bottom;
}

/* ---------------------------------PAGE BROWSE-------------------------------------------------------------------------- */

/* main */
.product-browse-wrapper {
  padding: 24px 16px 40px;
  gap: 24px;
}

.filters-browse {
  display: none;
}

/* aside */
.back-to-text {
  font-weight: 500;
}

.filters-browse-mobile {
  width: fit-content;
  background: #282c34;
  border-radius: 8px;
}

.filters-browse-mobile svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.button-filters {
  border: 1px transparent;
  align-items: center;
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* list games */
.browse-item .badge-games {
  margin-top: 0;
  display: none;
}

.list-games-wrapper {
  display: grid;
  grid-auto-rows: minmax(148px, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  width: 100%;

  scroll-padding: 0 16px;
  scrollbar-width: none;
}

.browse-item .game-card {
  cursor: pointer;
}

.browse-item .game-card-wrapper {
  background-color: #13161b;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.browse-item .banner-games {
  width: 100%;
  height: 104px;
}

.browse-item .banner-games img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.browse-item .title-games {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
}

.browse-item .caption-games {
  position: relative;
  padding: 12px;
}

/* ----------------------------------------PAGE DETAIL PRODUCT------------------------------------------------------------------- */


.fixed-game-info {
  display: none;
}

/* product */
.navigate-back {
  font-weight: 500;
}

.product-content {
  position: relative;
  width: 100%;
}

.product-logo {
  min-width: 96px;
  height: 96px;
}

.product-logo img {
  width: 100%;
  height: 100%;
}

.product-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: flex-start;
}

.product-description {
  color: #8e97a8;
}

/* ------------------------- */
.tab-content {
  cursor: pointer;
  overflow-x: auto;
}

.items-tab-item {
  font-weight: 600;
  color: #8e97a8;
}

.nav-tabs {
  position: relative;
}

.new-tab-item {
  background-color: #0d51d3;
  border-radius: 8px;
  padding: 2px 8px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
}

.tab-content::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #282c34;
}

.overview-tab-item::after {
  content: "";
  width: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #0094ff;
  z-index: 2;
}

.system-requirement-tab-active::after {
  content: "";
  width: 95px;
  position: absolute;
  left: 20px;
  bottom: 0;
  border-bottom: 2px solid #0094ff;
  z-index: 2;
}

.tab-item {
  font-weight: 600;
  white-space: nowrap;
}

/* thumbnail */

.full-view-thumbnail {
  height: 200px;
}

.full-view-thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.thumbnail-list-wrapper {
  overflow-x: auto;
  cursor: pointer;
}

.thumbnail-item {
  width: 144px;
  flex: 0 0 auto;
  object-fit: cover;
}

.thumbnail-item img {
  height: 80px;
  border-radius: 8px;
  width: 100%;
}

/* ---------------------------------------- */

.app-action-button {
  background: #282c34;
  border-radius: 8px;
  justify-content: center;
}

.app-action-button span {
  font-weight: 600;
}

.app-action-button span:nth-child(n+2) {
  font-weight: 500;
}

.app-action-button svg {
  height: 20px;
  width: 20px;
}

.product-details {
  background: #13161b;
  border-radius: 8px;
  padding: 20px;
}

.product-item-head {
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}

/* nhớ chỉnh cho page này thôi */
.badge-games {
  margin-top: 0;
}

.product-details .badge-games .badge-item:hover {
  background: #3c424d;
}

.product-details-item {
  justify-content: space-between;
  align-items: center;
}

.product-detail-title {
  color: #8e97a8;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  align-items: center;
}

.product-detail-title svg {
  vertical-align: middle;
}

.separator-product-detail {
  width: 100%;
  height: 1px;
  background-color: #282c34;
}

.collection-item {
  display: flex;
  background: #0d0e12;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.collection-item:hover {
  background-color: #3c424d;
}

.collection-item img {
  width: 32px;
  height: 32px;
}

.game-summary {
  background-color: #13161b;
  padding: 20px;
  border-radius: 8px;
}

.game-summary p {
  font-size: 16px;
  color: #b4bccb;
  word-wrap: break-word;
  line-height: 24px;
}

/* ---------------------------------------------------------------- */

.hardware-requirements {
  background: #13161b;
  border-radius: 8px;
}

.system-requirements-title {
  font-weight: 600;
  color: #8e97a8;
}

.system-spec-name {
  color: #8e97a8;
}

.interactive-button> :nth-child(-n+2) {
  display: none;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* footer */
.footer-section {
  background: #13161b;
}

.footer-content {
  border-bottom: 1px solid #282c34;
}

.subscriber-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.email-input {
  position: relative;
}

.arrow-email-input {
  padding: 0 12px 0 8px;
  position: absolute;
  top: 10px;
  right: 0;
}

.arrow-email-input svg {
  height: 20px;
  width: 20px;
}

.footer-description {
  color: #5b6372;
  font-weight: 500;
}

.email-input input {
  height: 40px;
  background-color: #282c34;
  border: 1px solid #3c423c;
  color: #8e97a8;
  outline: none;
  width: 100%;
  border-radius: 8px;
  padding: 10px 36px 10px 12px;
  font-family: inherit;
}

.footer-copyright {
  font-size: 12px;
  color: #8e97a8;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}

.footer-links {
  align-items: center;
  cursor: pointer;
}

.nav-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 16px;
}

.social-media-icon {
  align-items: center;
}

.item-social-media {
  background-color: #282c34;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {

  /* --------------------------------PAGE HOME--------------------------------------------------------------------------- */
  /* header */
  .navbar-wrapper {
    padding: 0 20px;
  }

  /* main */

  /* banner */
  .banner {
    padding: 0;
  }

  .banner-primary-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px;
    z-index: 5;
    gap: 32px;
  }

  .banner-primary-text {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }

  .action-buttons {
    gap: 12px;
  }

  .play-now-button {
    background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
    max-width: 240px;
  }

  .read-more-link-text {
    gap: 8px;
  }

  .read-more-link-text svg {
    height: 20px;
    width: 20px;
  }

  /* featured games */

  /* title featured games */
  .featured-games-content {
    justify-content: space-between;
    align-items: center;
  }

  /* most played games */
  .list-most-played-games-wrapper {
    grid-template-columns: repeat(3, minmax(486px, 1fr));
  }

  /* * -------------------------------------------------------------------------------- */
  /* highlight games */
  .highlight-games-content {
    gap: 0;
  }

  .highlight-games-content-wrapper {
    align-items: center;
  }

  .list-highlight-games-wrapper {
    grid-template-rows: repeat(2, minmax(368px, 1fr));
    grid-template-columns: repeat(3, minmax(384px, 1fr));

    scroll-padding: 0;

    padding: 0;
  }

  .banner-games {
    height: 256px;
  }

  .banner-games img {
    height: 100%;
  }

  .badge-games .badge-item:hover {
    background: #282c34;
  }

  .badge-games> :nth-child(3):hover {
    background: #3c424d;
  }

  /* news and events */

  .news-events-list {
    scroll-padding: 0;
    padding: 0;
  }

  /* ------------------------------------------------ */
  /* popular genres */
  .popular-genres-list {
    scroll-padding: 0;
    padding: 0;
  }

  /* voting panel */

  .voting-panel {
    flex-direction: row;
    background-position-x: 40%;
  }

  .voting-panel-items-wrapper {
    justify-content: space-between;
    gap: 44px;
    flex-direction: row;
    align-items: center;
    padding: 16px 40px 16px 0;
  }

  .voting-panel-logo {
    margin: 0;
  }

  .voting-panel-logo img {
    position: absolute;
    top: 4px;
  }

  .business-name {
    height: 20px;
  }

  .business-name img {
    height: 100%;
  }

  .greenlight-title {
    font-size: 38px;
    line-height: 50px;
    margin-top: -12px;
  }

  .voting-panel-description {
    font-size: 12px;
    line-height: 16px;
  }

  /* ------------------------------------------PAGE BROWSE------------------------------------------------------------------- */
  /* main */
  .product-browse-wrapper {
    padding: 24px 40px 40px;
  }

  .browse-item .badge-games {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }

  .browse-item .badge-games> :nth-child(3):hover {
    background: #282c34;
  }

  /* * -------------------------------------------------------------------------------- */
  /* list games */

  .list-games-wrapper {
    grid-auto-rows: minmax(249px, 1fr);
  }

  .browse-item .banner-games {
    width: 100%;
    height: 169px;
  }

  .browse-item .banner-games img {
    height: 100%;
  }

  /*----------------------------------- PAGE DETAIL-------------------------------------------------------------- */
  /* thumbnail */

  .full-view-thumbnail {
    height: 350px;
  }
}

/* ------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .container {
    max-width: 1280px;
  }

  .menu-item-line {
    display: none;
  }

  .menu-right {
    display: flex;
  }

  .navbar-wrapper {
    justify-content: flex-start;
    padding: 0 20px;
    gap: 8px;
  }

  .navbar-item {
    display: none;
  }

  .menu-bar {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .menu-bar button {
    line-height: 20px;
  }

  .menu-bar button:hover {
    background: #282c34;
  }

  .menu-left {
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }

  .menu-primary {
    gap: 8px;
  }

  .menu-left button {
    border: 1px solid transparent;
    font-weight: 600;
    line-height: 20px;
  }

  .menu-item-active {
    position: relative;
    margin-left: 16px;
  }

  .menu-item-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 2px;
    background-color: #00b8ff;
  }

  .menu-item-active button {
    background: #1c1f25;
  }

  .menu-right {
    gap: 8px;
    align-items: center;
  }

  .menu-right button {
    background: #282c34;
    border-color: transparent;
    line-height: 20px;
  }

  .menu-right button:hover {
    background: #3c424d;
  }

  .menu-item-search {
    position: relative;
  }

  .menu-item-search-wrapper {
    width: 320px;
  }

  .search-input {
    background: transparent;
    border: 1px solid #3c424d;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    padding: 10px 36px 10px 12px;
    font-family: inherit;
    line-height: 20px;
    font-size: 14px;
    outline: none;
  }

  .search-input:focus {
    background-color: #0d0e12;
    border-color: var(--dg-color-primary);
    border-radius: 8px;
  }

  .icon-search-game {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    padding: 0 12px 0 8px;
  }

  .icon-search-game svg {
    height: 20px;
    width: 20px;
  }

  .menu-item-install button {
    background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
  }

  .menu-item-install button:hover {
    background: #0d51d3;
  }

  /* ---------------------------------------------------------------PAGE HOME-------------------------------------- */
  /* main */

  .product-primary-wrapper {
    padding-bottom: 80px;
    gap: 80px;
  }

  /* banner */
  .banner-section {
    margin-bottom: -20px;
  }

  .banner {
    padding: 0;
  }

  .banner-game-primary img {
    width: 100%;
  }

  /* featured games */
  .game-promotion-card {
    display: flex;
    flex-direction: row;
    height: 395px;
  }

  .featured-video-wrapper iframe {
    height: 395px;
    width: 100%;
  }

  .video-puffverse-featured {
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }

  .featured-video-content {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }

  .video-content-wrapper {
    height: 395px;
    padding: 40px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }

  .featured-game-description {
    height: 60px;
  }

  .logo-puffgo {
    display: block;
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
  }

  /* most played games */
  .most-played-games-content .slider-nav-button {
    visibility: visible;
  }

  /* popular genres */

  .popular-genres-item-wrapper {
    min-width: 180px;
  }

  .popular-genres-content-wrapper {
    align-items: center;
  }

  /* voting panel */
  .business-name {
    height: 32px;
  }

  .business-name img {
    height: 100%;
  }

  .greenlight-title {
    font-size: 82px;
    line-height: 86px;
  }

  .voting-panel-logo {
    width: 208px;
    height: 198px;
  }

  .voting-panel-logo img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8px;
    left: -4px;
  }

  .voting-panel-description {
    font-size: 14px;
  }

  .voting-panel-items {
    flex: 1;
  }

  .voting-panel-items-wrapper {
    flex: 1;
    justify-content: space-between;
    padding: 12px 40px 16px 0;
  }

  /* ------------------------------------------------------PAGE BROWSE---------------------------------- */
  /* main */

  .filters-browse {
    display: flex;
  }

  .product-browse-wrapper {
    flex-direction: row;
  }

  .aside {
    width: 266px;
  }

  .list-games-section {
    flex: 1;
  }

  .filters-browse-mobile {
    display: none;
  }

  .filters-browse h5 svg {
    display: none;
  }

  .filters-browse h5 {
    position: relative;
    border-bottom: 1px solid #282c34;
  }

  .filters-browse h5::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #282c34;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .filters-item-wrapper {
    border-bottom: 1px solid #282c34;
  }

  .last-filter-item {
    border-bottom: 0;
  }

  .filter-category {
    align-items: center;
    justify-content: space-between;
    color: #8e97a8;
    font-weight: 600;
  }

  /* custom checkbox */

  .filters-content-wrapper {
    position: relative;
    cursor: pointer;
  }

  /* hidden input default */
  .filters-content-wrapper input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .icon-tick {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    border: 1px solid #3c423c;
    border-radius: 4px;
    color: transparent;
    justify-content: center;
    outline: none;
    height: 20px;
    width: 20px;
  }

  /* When the checkbox is checked, add a blue background */
  .filters-content-wrapper input:checked~.icon-tick {
    background-color: #2196f3;
  }

  /* On mouse-over, add a grey checkmark */
  .filters-content-wrapper:hover input~.icon-tick svg {
    color: #8e97a8;
  }

  .filters-content-wrapper input:checked~.icon-tick svg {
    color: #0d0e12;
  }

  .filters-content-wrapper input:checked:hover~.icon-tick {
    background-color: #00b8ff;
  }

  .browse-item .banner-games {
    width: 100%;
    height: 188px;
  }

  .list-games-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(268px, 1fr);
  }

  /* -------------------------------------------------PAGE DETAIL----------------------------------- */

  .fixed-game-info {
    display: none;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg,
        rgba(13, 14, 18, 0.9) 0%,
        rgba(13, 14, 18, 0.2) 100%);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 5;
    padding: 95px 168px 0;

  }

  

  .navigate-back-fixed {
    font-weight: 500;
  }

  .product-name-fixed {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  .product-name-fixed {
    align-items: center;
  }

  .product-logo-fixed {
    height: 40px;
    width: 40px;
  }

  .product-logo-fixed img {
    height: 100%;
    width: 100%;
  }

  .floating-game-title {
    justify-content: space-between;
  }

  .game-controls-button {
    background: #282c34;
    border-radius: 8px;
  }

  .game-controls-button button {
    padding: 0 16px;
  }

  .game-controls-button:hover {
    background: #3c424d;
  }

  .game-controls> :nth-child(3) {
    background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
  }

  .game-controls> :nth-child(3) button {
    padding: 0 36px;
  }

  .game-controls> :nth-child(3):hover {
    background: #0d51d3;
  }

  /* ------------------------ */

  .product-name {
    font-size: 36px;
    margin-top: 13.5px;
  }

  .product-description {
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 32px;
    left: 120px;
  }

  .product-display {
    flex-direction: row;
    gap: 24px;
  }

  .interactive-button> :nth-child(n+1) {
    display: flex;
  }

  .interactive-button> :nth-child(3) {
    display: none;
  }

  .call-to-action {
    height: 48px;
    background: linear-gradient(104.04deg, #00b8ff 0%, #0d51d3 100%);
    cursor: pointer;
  }

  .call-to-action:hover {
    background: #0d51d3;
  }

  .button-active:hover {
    background: #3c424d;
  }

  .call-to-action button {
    font-size: 16px;
    font-weight: 600;
  }

  .app-details-container {
    margin-top: 0;
    max-width: 282px;
    gap: 24px;
  }

  .full-view-thumbnail {
    height: 500px;
  }

  .thumbnail-list-wrapper {
    justify-content: center;
  }

  .product-details .badge-games {
    flex-wrap: wrap;
  }

  .system-requirements {
    flex-direction: row;
  }
  .system-requirements-item{
    flex: 1;
  }

  .platform-icon-details svg{
    vertical-align: middle;
  }

  /* -------------------------------------------------------------------------------------------------------- */
  /* footer */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-description {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-credits {
    flex-direction: row;
    justify-content: space-between;
  }

  .subscriber {
    width: fit-content;
  }

  .email-input {
    max-width: 280px;
  }

  .footer-description {
    max-width: 414px;
  }

  .subscriber {
    flex: 1;
  }
}

/* Button */

.custom-button {
  width: 40px;
  height: 40px;
}

.button-primary {
  color: white;
  background-color: red;
  border: 1px solid red;
}

.button-primary:hover {
  background-color: #ff0000;
}

.button-xl {
  width: 120px;
  height: 40px;
}