<section class="xl-mb-10 most-played-games-section">
    <div class="container">
        <div class="row flex-col gap-4 most-played-games">
            <div class="row pr-4 pl-4 md-pr-10 md-pl-10 most-played-games-content">

                <div class="title-primary">Most Played Games</div>

                <div class="row gap-3 slider-nav-button">
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14.625 6.22a1 1 0 0 1 .156 1.405L11.28 12l3.5 4.375a1 1 0 0 1-1.562 1.25l-4-5a1 1 0 0 1 0-1.25l4-5a1 1 0 0 1 1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <button>
                            <svg viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.375 6.22a1 1 0 0 0-.156 1.405L12.72 12l-3.5 4.375a1 1 0 0 0 1.562 1.25l4-5a1 1 0 0 0 0-1.25l-4-5a1 1 0 0 0-1.406-.156Z"
                                    fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>


            <div class="pr-4 pl-4 md-pr-10 md-pl-10 list-most-played-games">
                <ul class="gap-6 list-most-played-games-wrapper">

                    <li class="game-item">
                        <div class="game-item-wrapper">
                            <div class="game-item-img">
                                <img class=""
                                    src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-thumbnail.png"
                                    alt="origins">
                            </div>

                            <div>
                                <div
                                    class=" pr-6 pl-6 pb-6 row flex-col gap-1  most-played-section-caption">
                                    <div class="most-played-game-title">Axie Infinity: Origins</div>
                                    <div class="most-played-games-description">Turn-based, Strategy,
                                        Adventure</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="game-item">
                        <div class="game-item-wrapper">
                            <div class="game-item-img">
                                <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/classic-thumbnail.png"
                                    alt="classic">
                            </div>

                            <div>
                                <div
                                    class="pr-6 pl-6 pb-6 row flex-col gap-1  most-played-section-caption">
                                    <div class="most-played-game-title"> Axie Classic</div>
                                    <div class="most-played-games-description">Turn-based, Strategy
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                    <li class="game-item">
                        <div class="game-item-wrapper">
                            <div class="game-item-img">
                                <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1706002032-game_thumbnail.png"
                                    alt="game">
                            </div>

                            <div>
                                <div
                                    class="pr-6 pl-6 pb-6 row flex-col gap-1 most-played-section-caption">
                                    <div class="most-played-game-title">Axie Infinity: Homeland
                                    </div>
                                    <div class="most-played-games-description">Strategy, Adventure,
                                        Build & Battle </div>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>