<main>
    <div class="container row flex-col product-primary-browse">
        <div class="row flex-col product-browse-wrapper">

            <!-- aside -->
            <div class="row flex-col gap-6 aside">
                <div class="row gap-2">
                    <svg viewBox="0 0 24 24" width="20" height="20" style="fill: currentcolor;">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.293 11.293a1 1 0 0 0 0 1.414l4 4a1 1 0 0 0 1.414-1.414L8.414 13H18a1 1 0 1 0 0-2H8.414l2.293-2.293a1 1 0 0 0-1.414-1.414l-4 4Z"
                            fill="currentColor"></path>
                    </svg>
                    <span class="back-to-text">Back to Home</span>
                </div>

                <div class="filters-browse-mobile">
                    <button class="row filter-button gap-2 pr-4 pl-4">
                        <span>
                            <svg class="button-module_icon__-nXel" viewBox="0 0 24 24" width="16" height="16"
                                style="fill: currentcolor;">
                                <path
                                    d="M18.819 2H5.18C3.442 2 2.405 3.916 3.37 5.346l5.722 7.481c.477.707.731 1.538.731 2.388v5.707c0 .959 1.173 1.438 1.86.76l2.177-2.151a1.07 1.07 0 0 0 .319-.761v-3.555c0-.85.254-1.68.73-2.388l5.723-7.481C21.595 3.916 20.558 2 18.819 2Z"
                                    fill="currentColor"></path>
                            </svg>
                        </span>
                        Filters (0)
                    </button>


                </div>

                <div class="row gap-4 flex-col filters-browse">

                    <h5 class="mb-3 pb-6">Filters
                        <div> <svg viewBox="0 0 24 24" width="16" height="16" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.293 6.293a1 1 0 0 1 1.414 0L12 10.586l4.293-4.293a1 1 0 1 1 1.414 1.414L13.414 12l4.293 4.293a1 1 0 0 1-1.414 1.414L12 13.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L10.586 12 6.293 7.707a1 1 0 0 1 0-1.414Z"
                                    fill="currentColor"></path>
                            </svg></div>
                    </h5>

                    <div class="menu-filters row flex-col gap-4">
                        <div class="filters-item">
                            <div class="pb-5 filters-item-wrapper">
                                <div class="row filter-category">
                                    <span> PARTNERSHIP</span>
                                    <svg class="_chevron_7f21a_62" viewBox="0 0 24 24" width="16" height="16"
                                        style="fill: currentcolor;">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.22 9.375a1 1 0 0 1 1.405-.156L12 12.72l4.375-3.5a1 1 0 0 1 1.25 1.562l-5 4a1 1 0 0 1-1.25 0l-5-4a1 1 0 0 1-.156-1.406Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>

                                <div class="pt-5 row flex-col gap-4 filters-content">
                                    <label class="pl-7 row filters-content-wrapper"> Sky Mavis Games

                                        <input type="checkbox">

                                        <span class="icon-tick">
                                            <svg viewBox="0 0 24 24" width="20" height="20"
                                                style="fill: currentcolor;">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.669 6.257a1 1 0 0 1 .074 1.412l-7.737 8.597a3 3 0 0 1-4.104.336l-3.527-2.821a1 1 0 0 1 1.25-1.562L9.15 15.04a1 1 0 0 0 1.368-.112l7.738-8.597a1 1 0 0 1 1.412-.074Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>

                                    </label>

                                    <label class="pl-7 row filters-content-wrapper"> Axie Builder Program

                                        <input type="checkbox">

                                        <span class="icon-tick">
                                            <svg viewBox="0 0 24 24" width="20" height="20"
                                                style="fill: currentcolor;">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.669 6.257a1 1 0 0 1 .074 1.412l-7.737 8.597a3 3 0 0 1-4.104.336l-3.527-2.821a1 1 0 0 1 1.25-1.562L9.15 15.04a1 1 0 0 0 1.368-.112l7.738-8.597a1 1 0 0 1 1.412-.074Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>


                                    </label>

                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>

            <!-- list games -->
            <section class=" list-games-section">
                <div class="container">
                    <div class="row flex-col gap-4">

                        <div class=" list-games">
                            <ul class="gap-6 mb-6 list-games-wrapper">

                                <li class="game-card">
                                    <div class="game-card-wrapper">

                                        <div class="banner-games">
                                            <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/origins-thumbnail.png"
                                                alt="banner-axie">
                                        </div>

                                        <div class="caption-games">

                                            <div class="title-games">Axie Infinity: Origins</div>

                                            <div class="row mt-2 gap-2 badge-games">
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Turn-based</span>
                                                </div>
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Strategy</span>
                                                </div>
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">+ 1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="game-card">
                                    <div class="game-card-wrapper">

                                        <div class="banner-games">
                                            <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1706002032-game_thumbnail.png"
                                                alt="banner-axie-hl">
                                        </div>

                                        <div class="caption-games">

                                            <div class="title-games">Axie Infinity: Homeland</div>

                                            <div class="row mt-2 gap-2 badge-games">
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Strategy</span>
                                                </div>
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Adventure</span>
                                                </div>
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">+ 1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="game-card">
                                    <div class="game-card-wrapper">

                                        <div class="banner-games">
                                            <img src="https://cdn.axieinfinity.com/marketplace-website/banner/game/classic-thumbnail.png"
                                                alt="banner-axie-classic">
                                        </div>

                                        <div class="caption-games">

                                            <div class="title-games">Axie Classic</div>

                                            <div class="row mt-2 gap-2 badge-games">
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Turn-based</span>
                                                </div>

                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Strategy</span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="game-card">
                                    <div class="game-card-wrapper">

                                        <div class="banner-games">
                                            <img src="https://storage.googleapis.com/sm-prod-mavis-hub-cdn/assets/1688981162-raylights-youtube-thumbnail.jpg"
                                                alt="banner-axie-rl">
                                        </div>

                                        <div class="caption-games">

                                            <div class="title-games">Axie Infinity: Raylights</div>

                                            <div class="row mt-2 gap-2 badge-games">
                                                <div class="pt-1 pb-1 pr-2 pl-2 badge-item">
                                                    <span class="badge-text">Puzzle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</main>