<header>
    <div class="navbar">
        <div class="container">
            <div class="row col-12 md-col-12 navbar-wrapper">

                <!-- logo -->
                <div class="row navbar-logo">
                    <img class="navbar-logo-image" src="https://hub.skymavis.com/logo.svg" alt="logo-mavis-hub">
                </div>

                <!-- search and bars mb-->
                <div class="row primary-navbar">
                    <button class="row navbar-item">
                        <svg class="icon-search" viewBox="0 0 24 24" width="16" height="16" style="fill: currentcolor;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M1 11.5C1 5.701 5.701 1 11.5 1S22 5.701 22 11.5c0 2.54-.901 4.868-2.402 6.684l3.11 3.109a1 1 0 0 1-1.415 1.414l-3.109-3.109A10.458 10.458 0 0 1 11.5 22C5.701 22 1 17.299 1 11.5ZM11.5 3a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17Z"
                                fill="currentColor"></path>
                        </svg>
                    </button>

                    <button class="row navbar-item" id="hamburger-menu-btn">
                        <svg class="icon-bars" viewBox="0 0 24 24" width="24" height="24" style="fill: currentcolor;">
                            <path
                                d="M7 7a1 1 0 0 0 0 2V7Zm10 2a1 1 0 1 0 0-2v2ZM7 11a1 1 0 1 0 0 2v-2Zm10 2a1 1 0 1 0 0-2v2ZM7 15a1 1 0 1 0 0 2v-2Zm10 2a1 1 0 1 0 0-2v2ZM7 9h10V7H7v2Zm0 4h10v-2H7v2Zm0 4h10v-2H7v2Z"
                                fill="currentColor"></path>
                        </svg>
                    </button>
                </div>

                <!-- menu pc -->
                <div class=" menu-bar">

                    <div class="row menu-left">

                        <div class="row menu-primary">

                            <div class="menu-item-active">
                                <button class="pl-4 pr-4">Home</button>
                            </div>

                            <div>
                                <button class="pl-4 pr-4">Browse</button>
                            </div>

                            <div>
                                <button class="pl-4 pr-4">Community</button>
                            </div>

                            <div>
                                <button class="pl-4 pr-4">Event</button>
                            </div>

                        </div>

                        <div class="menu-item-search">
                            <div class="menu-item-search-wrapper">
                                <input class="search-input" type="text" placeholder="Search game">
                            </div>


                            <span class="row flex-col icon-search-game">
                                <svg color="#8E97A8" viewBox="0 0 24 24" width="16" height="16"
                                    style="fill: currentcolor;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1 11.5C1 5.701 5.701 1 11.5 1S22 5.701 22 11.5c0 2.54-.901 4.868-2.402 6.684l3.11 3.109a1 1 0 0 1-1.415 1.414l-3.109-3.109A10.458 10.458 0 0 1 11.5 22C5.701 22 1 17.299 1 11.5ZM11.5 3a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17Z"
                                        fill="currentColor"></path>
                                </svg>
                            </span>

                        </div>
                    </div>

                </div>

                <div class="row menu-right">
                    <div class="menu-item-install">
                        <button class="pr-4 pl-4">Install Hub</button>
                    </div>

                    <div>
                        <button class="pr-4 pl-4">Log in</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


</header>