<footer>
    <section class="footer-section">
        <div class="container">

            <div class="pt-10 pr-4 pl-4 pb-6 md-pt-10 md-pl-10 md-pr-10 md-pb-6 row flex-col gap-6 footer-content">

                <div class="subscriber ">
                    <div class="subscriber-text mb-4">get the latest updates</div>

                    <div class="email-input">

                        <input class="button-input" type="text" placeholder="Email">

                        <span class=" arrow-email-input">
                            <svg viewBox="0 0 24 24" width="16" height="16" style="fill: currentcolor;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.707 12.707a1 1 0 0 0 0-1.414l-4-4a1 1 0 1 0-1.414 1.414L15.586 11H6a1 1 0 1 0 0 2h9.586l-2.293 2.293a1 1 0 0 0 1.414 1.414l4-4Z"
                                    fill="currentColor"></path>
                            </svg>
                        </span>
                    </div>

                    <div class="mt-2 footer-description">By clicking you agree to our Privacy Policy term. You
                        always have the choice to unsubscribe
                        within every email you receive.</div>
                </div>


                <div class="row gap-6 navigation">

                    <div class="row flex-col gap-4">

                        <div class="nav-title">Discover</div>

                        <div class="row flex-col gap-3 list-nav">
                            <div>Browse</div>

                            <div>Greenlight</div>

                            <div>App.axie</div>

                            <div>Mavis Market</div>
                        </div>

                    </div>

                    <div class="row flex-col gap-4">

                        <div class="nav-title">Community</div>

                        <div class="row flex-col gap-3 list-nav">

                            <div>Blog</div>

                            <div>Help Center</div>
                        </div>
                    </div>


                </div>

                <div class="row flex-col gap-4 social-link">
                    <div class="nav-title">Join us</div>
                    <div>
                        <ul class="row gap-3 social-media-icon">
                            <li class="row item-social-media">
                                <svg width="24" height="24" viewBox="0 0 24 24" style="fill: currentcolor;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.942 5.27A16.54 16.54 0 0 0 14.816 4c-.195.349-.372.707-.529 1.074a15.366 15.366 0 0 0-4.579 0A11.386 11.386 0 0 0 9.179 4c-1.425.243-2.814.67-4.129 1.273-2.611 3.863-3.319 7.63-2.965 11.345 1.53 1.13 3.24 1.989 5.06 2.54.41-.551.773-1.136 1.084-1.748a10.76 10.76 0 0 1-1.706-.814c.143-.104.283-.211.418-.315a11.887 11.887 0 0 0 10.118 0c.137.112.277.219.418.315-.545.321-1.117.594-1.71.816.312.612.674 1.196 1.084 1.746a16.558 16.558 0 0 0 5.064-2.539c.415-4.307-.71-8.04-2.973-11.35ZM8.678 14.333c-.987 0-1.802-.896-1.802-1.997 0-1.1.787-2.004 1.798-2.004 1.012 0 1.82.903 1.803 2.004-.017 1.101-.794 1.997-1.8 1.997Zm6.644 0c-.988 0-1.8-.896-1.8-1.997 0-1.1.787-2.004 1.8-2.004s1.816.903 1.798 2.004c-.017 1.101-.793 1.997-1.798 1.997Z"
                                        fill="currentColor"></path>
                                </svg>
                            </li>

                            <li class="row item-social-media">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" size="24">
                                    <path fill="currentColor"
                                        d="M2.049 2.65 9.77 12.975 2 21.369h1.749l6.803-7.35 5.497 7.35H22l-8.156-10.905 7.232-7.814h-1.748l-6.266 6.769L8 2.65H2.05ZM4.62 3.938h2.734l12.073 16.143h-2.734L4.62 3.938Z">
                                    </path>
                                </svg>
                            </li>

                            <li class="row item-social-media">
                                <svg width="24" height="24" viewBox="0 0 24 24" style="fill: currentcolor;">
                                    <path d="M18 3h-3a5 5 0 0 0-5 5v2H6v4h4v7h4v-7h4v-4h-4V8a1 1 0 0 1 1-1h3V3Z"
                                        fill="currentColor"></path>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="row flex-col gap-2 pt-6 pr-4 pb-10 pl-4 md-pt-6 md-pr-10 md-pl-10 md-pb-10 footer-credits">

                <div class="row footer-copyright">© 2024 Sky Mavis</div>

                <div class="row gap-6 footer-links">
                    <div class="link-item">Terms of Use</div>
                    <div class="link-item">Privacy Policy</div>
                </div>
            </div>

        </div>
    </section>
</footer>