<section class="news-and-events-section">
    <div class="container">
        <div class="row flex-col gap-2">
            <div class="pr-4 pl-4 md-pr-10 md-pl-10 row news-and-events-content">
                <div class="title-primary">News & Events</div>
            </div>

            <div class="md-pr-10 md-pl-10">
                <ul class="gap-6 news-events-list">
                    <li class="news-and-events-item">
                        <div class="news-and-events-item-wrapper">
                            <div class="news-events-banner">
                                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fe6d8ede7-49c9-436d-9222-8f1e8e04c8ec_2400x1350.png"
                                    alt="banner-axie">
                            </div>

                            <div class="news-and-events-caption">
                                <div class="news-and-events-title">The Homeland Adventurers’ Rush is
                                    Coming!</div>
                                <div class="news-and-events-date">Jun 21, 2024</div>
                            </div>
                        </div>
                    </li>

                    <li class="news-and-events-item">
                        <div class="news-and-events-item-wrapper">
                            <div class="news-events-banner">
                                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F3b8862b4-691b-47c2-ac05-a141b9ab0c1a_1092x826.png"
                                    alt="banner-pc">
                            </div>

                            <div class="news-and-events-caption">
                                <div class="news-and-events-title">Pixels Chapter 2 is LIVE!</div>
                                <div class="news-and-events-date">Jun 19, 2024</div>
                            </div>
                        </div>
                    </li>

                    <li class="news-and-events-item">
                        <div class="news-and-events-item-wrapper">
                            <div class="news-events-banner">
                                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F124c391c-f1e3-4b9b-9854-517df8a28836_3200x1800.png"
                                    alt="banner-rz">
                            </div>

                            <div class="news-and-events-caption">
                                <div class="news-and-events-title">Introducing: Ronin ZkEVM</div>
                                <div class="news-and-events-date">Jun 18, 2024</div>
                            </div>
                        </div>
                    </li>


                    <li class="news-and-events-item">
                        <div class="news-and-events-item-wrapper">
                            <div class="news-events-banner">
                                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F7055b45e-464b-4d1f-884e-145ae2a16558_3000x1688.png"
                                    alt="banner-s9">
                            </div>

                            <div class="news-and-events-caption">
                                <div class="news-and-events-title">Origins S9 Streamer Race</div>
                                <div class="news-and-events-date">Jun 13, 2024</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>